.map-container
  width 100%
  height 100%

.map-wrapper
  position relative
  overflow hidden
  height 650px
  max-height 70vh
  +below('xs')
    height 100vh
    max-height 100%

.map-select
  position absolute
  top 0
  left 0
  width 415px
  height 100%
  z-index 1
  max-width 100%
  +above('sm')
    border-right 1px solid rgba(#E1E4E7, 70%)
  .choices
    height 100%
    &__inner
      display flex
      align-items center
      height 100%
      padding 0 40px!important
      background-color #fff
      position relative
      z-index 2
      border none
      +below('xs')
        padding 0 15px!important
        width calc(100% - 52px)
    &__selected-item
      display flex
      align-items center
    &__icon
      margin-right 20px
    &__search-icon
      position absolute
      left 40px
      top 30px
      +below('xs')
        left 15px
        top 15px
      svg
        fill $c-lightgray
    &__input
      ^[1..1][data-type*=select-one] ^[1..2]
        display flex
        align-items center
        padding 0 40px 0 82px
        border-bottom 1px solid $c-light-border
        border-top 1px solid $c-light-border
        height 80px
        +below('xs')
          padding 0 15px 0 50px
        &:before
          content 'qweq'
        &::placeholder
          color $c-lightgray
        +below('xs')
          height 52px
    &__list
      border none
      &--single
        padding 0
      &--dropdown
        margin-top 0
        border none
        display block
        transform translateY(-100%)
        transition transform .3s ease

        &.is-active
          transform translateY(0)

        & ^[1..1]__list
          margin-right 4px
          margin-top 2px
          max-height calc(650px - 80px - 80px - 2px)
          $scrollbar-vertical()
          padding 0 16px 0 20px
          +below('xs')
            max-height calc(100vh - 52px - 52px - 2px)
            padding 0 8px 0 10px
        & ^[1..1]__item
          padding 20px
          font-size 18px
          +below('xs')
            padding 20px 10px
          &[data-selected]
            color $c-red
            &:before
              content url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMyI+ICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjRTMwMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM2MCAtMjAzKSI+ICAgICAgICA8cG9seWxpbmUgcG9pbnRzPSIzNjEgMjA5LjI2MjcgMzY2LjI2ODggMjE0LjU0NzUgMzc3IDIwNCIvPiAgICA8L2c+PC9zdmc+')
              position absolute
              right 10px

          &.is-highlighted
            background-color rgba($c-light-border, 30%)
    // &__item

    &[data-type*=select-one]
      &:after
        // content url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE2IDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8cGF0aCBkPSJNNy4yMDc5MiA4LjY3NjE5TC4zMjgzOSAxLjg4NzQxYy0uNDM3ODUtLjQzMTg1LS40Mzc4NS0xLjEzMjAyIDAtMS41NjM2NS40Mzc0NS0uNDMxNjggMS4xNDY5Ny0uNDMxNjggMS41ODQzOSAwbDYuMDg3MzMgNi4wMDcwMkwxNC4wODcyNC4zMjM5M2MuNDM3NjMtLjQzMTY3IDEuMTQ3MDgtLjQzMTY3IDEuNTg0NTMgMCAuNDM3NjQuNDMxNjcuNDM3NjQgMS4xMzE4MSAwIDEuNTYzNjZMOC43OTIxMyA4LjY3NjM3QzguNTczMyA4Ljg5MjIgOC4yODY4IDkgOC4wMDAxNSA5Yy0uMjg2NzkgMC0uNTczNS0uMTA4MDEtLjc5MjIzLS4zMjM4MXoiIGZpbGw9IiNFMzAwMDAiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==')
        content ''
        background-image url('%=static=%minified-svg/arrow-down.svg')
        background-repeat no-repeat
        background-position center
        border none
        width 18px
        height 20px
        top calc(50% - 6px)
        z-index 3
        right 40px
        transition transform .3s ease
        +below('xs')
          right initial
          left calc(100% - 90px)
      &.is-open
        &:after
          transform rotate(180deg)
          margin-top 0
