.feature-slider
  .swiper-wrapper
    justify-content space-between
    flex-direction column
    transform none

    +below('sm')
      flex-direction row
      display flex
      width 100%

  &__controls-wrapper
    position absolute
    bottom 30px
    z-index 1
    left 0
    right 0
  &__controls
    display none
    align-items center
    justify-content flex-end
    margin-right -15px
    position absolute
    right 15px
    bottom 0
    +below('xs')
      display none
  &__control
    margin-right 15px
    padding-right 2px
    border 1px solid #fff
    border-radius 100%
    width 40px
    height 40px
    display flex
    align-items center
    justify-content center
    $transition(all)
    svg
      fill #fff
    &:hover
      background-color #fff
      svg
        fill $c-red
    &_next
      transform rotate(180deg)
    &-icon
      flex-grow 1
      display flex
      justify-content center
      align-items center
  &__slide-img
    max-height 460px
    display flex
    align-items center
    justify-content center
    overflow hidden
  &__img
    &_on_desktop
      +below('sm')
        display none
    &_on_tablet
      +above('md')
        display none
      +below('xs')
        display none
    &_on_mobile
      +above('sm')
        display none
  &__slide-content-wrapper
    position absolute
    z-index 1
    left 0
    right 0
    bottom 50px
    +above('xs')
      height 68%
  &__content
    height 100%
    max-width 510px
    +at('sm')
      max-width 50%
    +below('xs')
      max-width 420px
  &__bullets
    display flex
    align-items center
    justify-content center
    position absolute
    bottom 40px
    left 0
    right 0
    z-index 1
    +above('sm')
      display none
    +below('xs')
      position static
  &__bullet
    background-color #EDEFF3
    border 2px solid #A1B5C8
    border-radius 50%
    width 10px
    height 10px
    display block
    margin-right 10px
    cursor pointer
    position relative
    $transition(opacity)
    z-index 10

    &:before
      content ''
      display block
      background transparent
      position absolute
      top -10px
      left -10px
      height 26px
      width 26px

    &:not(&_is_active)
      &:hover
        background-color #ef3124
        border 2px solid #ef3124
        box-shadow 0 0 0 4px #fff, 0 0 0 6px #ef3124

    &:last-child
      margin-right 0
    &_active
      background-color #EF3124
      border 2px solid #D0021B
    &_is_active
      background-color #ef3124
      border 2px solid #ef3124
      box-shadow 0 0 0 4px #fff, 0 0 0 6px #ef3124
  &__tab
    tabsItem()
