extends _template.pug
include ../components/breadcrumbs/breadcrumbs
include ../components/files-list/files-list

block body
  +b.SECTION.section._size_medium._theme_content.section-404
    .container
      .row
        +b.column._md-7._sm-9.wow.fadeInUp
          +b.default-block
            +e.heading.h1 Упс :(
            +e.text.text Мы не смогли найти нужную вам страницу #[a(href="#") https:/alfaforex.com/ru/420blazeit], но подозреваем, что вы хотели отрыть счет :)
            .big-card__buttons
              +b.BUTTON.button._has_no_icon._is_bold
                +e.content
                  +e.text Открыть счет
              a.link(href="#") На главную
      +b.not-found-background.wow.fadeInUp(data-wow-delay="0.15s")
        include ../static/img/svg/404.svg
