include ../../node_modules/bemto.pug/bemto_webpack
include ../components/head/head

doctype html
html(class="no-js", lang="ru")

  include ../components/head/head

  head
    +head({title:'Альфа Форекс'})

  body.page
    .page-wrapper
      block body

  block scripts
