extends _template.pug
include ../components/breadcrumbs/breadcrumbs
include ../components/faq/partials/form
include ../components/banners/sidebar

block body
  +b.SECTION.section._theme_content._size_xsmall
    .container
      +breadcrumbs(['Главная', 'Новости', 'USDPLN и EURPLN теперь доступны для торговли'])
      +b.content
        +e.main
          +b.article
            +e.header
              h1.h1 USDPLN и EURPLN теперь доступны для торговли
              +b.article-meta
                +e.icon
                  include ../static/img/svg/news-grey.svg
                +e.text 5 мая 2018
            +e.body
              p
                | EURUSD отступила от максимумов вблизи отметки 1.23 и в моменте даже
                | пыталась протестировать уровень 1.22, но в итоге обосновалась в середине диапазона,
                | минимизировав потери. Спрос на единую валюту, помимо перекупленности, угас на фоне тревожных
                | сообщений из Германии, где возникли сложности с формированием коалицион-ного правительства.
                | Однако рынок не спешит впадать в панику, ограничившись частичной фиксацией прибыли. Текущая
                | динамика пары указывает на актуальность стратегии покупок на спадах, и такие настроения будут
                | сохраняться до тех пор, пока от ЕЦБ не поступит «отрезвляющий» сигнал или пока доллар не обзаведется значимым фактором поддержки.
              img(src="http://via.placeholder.com/960x460")
              p
                | Хоть в официальном правиле и говорится, что эти средства "резервируются", но так или иначе,
                | вы не можете ими воспользоваться.На некоторых сервисах они остаются на балансе и замо-рожены навсегда, другие
                | сервисы, например мы, просто не отображаютих на балансе.
              h2 Когда происходит списание?
              p
                | Списание 20 монет происходит только 1 раз в момент совершения перевода с одного кошелька на другой. Соответственно,если
                | прежде кошелек не активировался и переводов с него не производилось, то при первой попытке перевести на другойкошелек Рипл
                | (вашему другу, к примеру) 100 XRP - придет лишь 80. После этого кошелек считается "активированным" и таких списаний не будет.
              P
                | Правило находится на официальном сайте компании
                a(href="https://ripple.com/build/reserves/") ripple
              +b.P.highlight._grey
                | Во вторник доллар слегка восстановился от 3-летних минимумов, но коррекция была очень скромной, и в амери-канскую сессию
                | валюта лишилась части набранных очков. В пятницу правительству США в очередной раз предстоит избежать приостановки работы.
              p
                | EURUSD отступила от максимумов вблизи отметки 1.23 и в моменте даже пыталась протес-тировать уровень 1.22,
                | но в итоге обосновалась в середине диапазона, минимизировав потери.
              +b.P.highlight._red
                | Во вторник доллар слегка восстановился от 3-летних минимумов, но коррекция была очень скромной, и в амери-канскую
                | сессию валюта лишилась части набранных очков.
              p
                | GBPUSD снова пыталась пробить отметку 1.38, но оживление спроса на доллар воспрепятствовало продолжению ралли, хотя и коррекция
                | ограничилась областью 1.3740, откуда впоследствии пара поднялась и почти нивелировала внутридневные потери. Пара не спешит падать,
                | спокойно дожидаясь новостей по Брекзиту и уповая на усилия медведей по доллару. Сегодня США опубликуют Бежевую книгу, а также состоятся
                | выступления пред-ставителей ФРС Эванса и Каплана. Если по итогам этих событий на рынке сформируется довольно оптимистичная картина, пара
                | может углубить коррекцию, при условии что со стороны Брекзита в течение дня не поступит бычьих сигналов.
              ul
                li
                  | Надежно
                  br
                  |  Нам можно доверить большие депозиты. Репутация крупнейшей инвестиционной группы Европы «Альфа-Групп» и партнерство с одним из известнейших банков в России создают основу для долгосрочных и доверительных отношений.
                li
                  | Защищено
                  br
                  |  Альфа-Форекс является лицензированным европейским брокером. Торговля на Форекс и любые другие финансовые операции выполняются в строгом соответствии со стандартами регулятора CySEC и защищены европейским законодательством.
                li
                  | Без комиссий
                  br
                  |  Бесплатный ввод и вывод средств для клиентов Альфа-Банка. Используйте привычный Альфа-Клик или банковский перевод, чтобы переводить средства быстро и без каких-либо комиссий.
                li
                  | Доступно
                  br
                  |  Зарегистрируйтесь и получите доступ к торговле онлайн. Вам нет необходимости ехать в офис или использовать сторонние сервисы. Регистрация, ввод/вывод средств, форекс-торговля – все операции проходят онлайн. Вам потребуются только документы для прохождения онлайн-верификации.
                li
                  | Брокер проверенный временем
                  br
                  |  Более 13 лет мы предоставляем нашим клиентам доступ к разнообразным финансовым инструментам. Фактически, мы привнесли новый для индустрии термин – «банковский трейдинг». Он заслуженно ассоциируется с точным и моментальным исполнением торговых ордеров, высокой ликвидностью и выгодными торговыми условиями.
                li
                  | Выгодные торговые условия
                  br
                  |  Многие заявляют о выгодных условиях, но именно в Альфа-Форекс Вы сможете найти одни из самых низких спредов в отрасли. Сравните наши спреды на рублевые пары, чтобы увидеть, как много Вы можете сэкономить с нами. Возможно, Вы удивитесь, но и наши свопы не оставят Вас равнодушными. Особенно когда они принесут Вам дополнительный доход.
              table
                thead
                  tr
                    th property 1
                    th property 2
                    th property 3
                tbody
                  - for(i = 0; i < 10; i++ )
                    tr
                      td Text
                      td Text
                      td Text

            +e.footer
              +b.A.button._theme_transparent.all(href="#")
                +e.text Все новости
              +b.A.button._theme_transparent.prev(href="#")
                +e.icon
                  include ../static/img/svg/caret-grey-left.svg
                +e.text Предыдущая
              +b.A.button._theme_transparent.next(href="#")
                +e.text Следующая
                +e.icon
                  include ../static/img/svg/caret-grey-right.svg
        +e.sidebar
          +b.white-box
            +e.title Другие новости
            +b.articles-list
              +b.A.article-link(href="#")
                +e.DIV.meta
                  +b.DIV.article-meta
                    +e.DIV.icon
                      include ../static/img/svg/news-grey.svg
                    +e.DIV.text Новости
                +e.DIV.title
                  | Временные изменения в распи-сании работы на рынке Форекс в связи с майскими праздниками
                +e.DIV.footer
                  +e.DIV.date 3 мая 2018
                  +e.DIV.icon
                    include ../static/img/svg/arrow-short.svg
              +b.A.article-link(href="#")
                +e.DIV.meta
                  +b.DIV.article-meta
                    +e.DIV.icon
                      include ../static/img/svg/news-grey.svg
                    +e.DIV.text Новости
                +e.DIV.title
                  | Временные изменения в распи-сании работы на рынке Форекс в связи с майскими праздниками
                +e.DIV.footer
                  +e.DIV.date 3 мая 2018
                  +e.DIV.icon
                    include ../static/img/svg/arrow-short.svg
          +sidebar-banner("%=static=%img/content/content_1.jpg", "#article")
