extends _template.pug
include ../components/breadcrumbs/breadcrumbs
include ../components/how-to-start/how-to-start
include ../components/map/map

block body
  +b.SECTION.section._theme_content._size_xsmall._has_no-offset-bottom
    .container
      +breadcrumbs(['Главная', 'Вопрос - Ответ'])
      +b.content-head
        +b.H1.h1 Контакты
      .row.contacts
        +b.column._md-7
          .row
            +b.column._md-6
              +b.header-content
                +e.title._size_md._theme_dark
                  +e.SPAN.icon
                    include ../static/img/svg/person.svg
                  | Отдел по работе с клиентами
                +e.text Пн - Пт с 08:00 - 23:00
                +e.A(href="").link client@alfaforex.com
            +b.column._md-6
              +b.header-content
                +e.title._size_md._theme_dark
                  +e.SPAN.icon
                    include ../static/img/svg/case.svg
                  | Отдел по работе с партнерами
                +e.text Пн - Пт с 08:00 - 23:00
                +e.A(href="").link client@alfaforex.com
            +b.column._md-6
              +b.header-content
                +e.title._size_md._theme_dark
                  +e.SPAN.icon
                    include ../static/img/svg/gear.svg
                  | Москва
                +e.text Пн - Пт с 08:00 - 23:00
                +e.A(href="").link client@alfaforex.com
            +b.column._md-6
              +b.header-content
                +e.title._size_md._theme_dark
                  +e.SPAN.icon
                    include ../static/img/svg/dollar.svg
                  | Москва
                +e.text Пн - Пт с 08:00 - 23:00
                +e.A(href="").link client@alfaforex.com
            +b.column._md-12
              +b.header-content
                +e.title._size_md._theme_dark
                  +e.SPAN.icon
                    include ../static/img/svg/pin.svg
                  | Адрес регистрации
                +e.text Москва, ул. Большая Никитская 3, офис 506
              +b.header-content
                +e.title._size_md._theme_dark
                  +e.SPAN.icon
                    include ../static/img/svg/pin.svg
                  | Адрес для корреспонденции:
                +e.text Москва, ул. Остоженка, 38, офис 56
        +b.column._lg-1._md-0
        +b.column._lg-4._md-5
          +b.card
            +e.subtitle._offset_lg.text Единый #[br] информационный центр
            +e.heading._size_md._theme_dark.heading._size_small 8 (800) 100-62-02 #[br] 8 (495) 785-96-69
            +e.icon
              include ../static/img/svg/faq-icon_transparent.svg
            +b.terms._theme_light
              +e.item Для России бесплатно
              +e.item Совершение сделок по телефону
              +e.item Пн - Пт: круглосуточно

      .contacts-map-wrapper
        #contacts-map

  +how-to-start()
  +map()
block scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
