extends _template.pug
include ../components/breadcrumbs/breadcrumbs
include ../components/map/map
include ../components/card/card
include ../components/big-card/big-card
include ../components/default-block/default-block
include ../components/example-slider/example-slider
include ../components/how-to-become-client/how-to-become-client

block body
  section
    +b.main-screen
      +e.background
        +e.IMG.img._on_desktop(src="%=static=%img/assets/main/slide_2.jpg", alt="slide")
        +e.IMG.img._on_tablet(src="%=static=%img/assets/main/slide_2_tablet.jpg", alt="slide")
        +e.IMG.img._on_mobile(src="%=static=%img/assets/main/slide_2_mobile.jpg", alt="slide")
      +e.overlay
      +e.container.container
        +e.breadcrumbs
          +breadcrumbs(['Главная', 'Интернет-трейдинг'])._theme_light
        +e.content
          +b.main-content
            +e.title Торговые операции на рынке Forex в режиме онлайн
            +e.text Обеспечьте себе высокий доход при движении курсов валют
        +e.footer.swiper-container
          +e.footer-items-wrapper.swiper-wrapper
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/Group8.svg
                +e.description Доходность, превосходящая ожидания
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/without-commission-icon.svg
                +e.description Высокая ликвидность 24/5
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/cheap-icon.svg
                +e.description Стартовый депозит определяете вы
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/card-icon.svg
                +e.description Доступно везде, где есть интернет
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/card-icon.svg
                +e.description Доступно везде, где есть интернет
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/card-icon.svg
                +e.description Доступно везде, где есть интернет
        .main-slider__bullets
  +b.SECTION.section._size_small._theme_default.section-utp
    .container
      +b.utps.row
        +e.A(href="#").item.column._xs-6.wow.fadeInUp
          +e.icon
            include ../static/img/svg/Coins.svg
          +e.title Доходность, превосходящая ожидания
        +e.A(href="#").item.column._xs-6.wow.fadeInUp
          +e.icon
            include ../static/img/svg/without-commission-icon-darken.svg
          +e.title Высокая ликвидность 24/5
        +e.A(href="#").item.column._xs-6.wow.fadeInUp
          +e.icon
            include ../static/img/svg/cheap-icon2.svg
          +e.title Стартовый депозит определяете вы
        +e.A(href="#").item.column._xs-6.wow.fadeInUp
          +e.icon
            include ../static/img/svg/World.svg
          +e.title Доступно везде, где есть интернет
  +b.SECTION.section._size_small
    .container
      .row.offset-wrapper
        +b.column._lg-6.wow.fadeInUp
          +default-block({
            heading: 'Валютный рынок Форекс',
            text: 'Рынок Forex - это международная площадка для торговли валютой. Приобретая одну валюту в противовес другой, вы зарабатываете на изменении курса. Ни один другой инструмент не может показывать такие результаты. Торговля на рынке Forex - это лидер по скорости заработка на финансовых рынках.'
          })
        +b.column._lg-1
        +b.column._lg-5.wow.fadeInUp
          +card()
  +b.SECTION.section._theme_default.example-section
    .container
      .row
        +example-slider()

  +b.SECTION.section._size_medium._theme_default
    .container
      +big-card()
  +b.SECTION.section._size_xsmall._theme_default
    +b.container
      +b.heading._center._for_element._left.wow.fadeInUp Почему Альфа-Форекс?
      +b.feature-wrapper._col.feature-slider.swiper-container
        .swiper-wrapper
          +e.row.swiper-slide
            +b.feature._horizontal.wow.fadeInUp
              +e.icon#shield
                include ../static/img/svg/currency-pair-icon.svg
              +e.title Оптимальный список  #[br] валютных пар

            +b.feature._horizontal.wow.fadeInUp
              +e.icon
                include ../static/img/svg/cheap-icon2.svg
              +e.title Самый низкий спред на #[br] «рублевые пары»

            +b.feature._horizontal.wow.fadeInUp
              +e.icon#shield
                include ../static/img/svg/24-5-icon-darken.svg
              +e.title Банковская ликвидность #[br] по парам с «рублём»
          +e.row.swiper-slide
            +b.feature._horizontal.wow.fadeInUp
              +e.icon#percent
                include ../static/img/svg/speed-icon-darken.svg
              +e.title Рыночное исполнение #[br] сделок

            +b.feature._horizontal.wow.fadeInUp
              +e.icon#available
                include ../static/img/svg/metatrader-icon-dark.svg
              +e.title Торговый терминал #[br] MetaTrader 5

            +b.feature._horizontal.wow.fadeInUp
              +e.icon#shield
                include ../static/img/svg/without-commission-icon-darken.svg
              +e.title 0% комиссий #[br] при вводе и выводе
      .feature-slider__bullets
      +b.feature__button
        +b.BUTTON.button
          +e.content
            +e.icon
              include ../static/img/svg/money.svg
            +e.text Открыть счет

  +how-to-become-client()

  +b.SECTION.section._has_no-offset-top
    .container
      +b.main-info
          +e.heading.heading.wow.fadeInUp В помощь трейдеру
          +e.text._small.text.wow.fadeInUp Мы собрали всю информацию, необходимую для комфортной работы с Альфа-Форекс
          +b.links.main-info__links
            +e.A(href="#").item.column._xs-6._md-3._lg-3.wow.fadeInUp
              +e.icon
                include ../static/img/svg/card.svg
              +e.title Как ввести и вывести средства
            +e.A(href="#").item.column._xs-6._md-3._lg-3.wow.fadeInUp
              +e.icon
                include ../static/img/svg/docs.svg
              +e.title Регламентирующие документы
            +e.A(href="#").item.column._xs-6._md-3._lg-3.wow.fadeInUp
              +e.icon
                include ../static/img/svg/metatrade.svg
              +e.title Работа #[br] c MetaTrader
            +e.A(href="#").item.column._xs-6._md-3._lg-3.wow.fadeInUp
              +e.icon
                include ../static/img/svg/faq.svg
              +e.title Остальное в разделе #[br] «Вопрос - Ответ»

  +b.SECTION.section._has_no-offset-top
    .container
      .row
        +b.main-info.column._md-12._xs-12._lg-6
          +e.heading.heading.wow.fadeInUp В помощь трейдеру
          +e.text.text.wow.fadeInUp Мы собрали всю необходимую информацию для комфортной работы с Альфа-Форекс
          +b.links.main-info__links
            +e.A(href="#").item.column._xs-6._md-3._lg-6.wow.fadeInUp
              +e.icon
                include ../static/img/svg/card.svg
              +e.title Ввод и вывод средств
            +e.A(href="#").item.column._xs-6._md-3._lg-6.wow.fadeInUp
              +e.icon
                include ../static/img/svg/docs.svg
              +e.title Регламентирующие документы
            +e.A(href="#").item.column._xs-6._md-3._lg-6.wow.fadeInUp
              +e.icon
                include ../static/img/svg/metatrade.svg
              +e.title Работа #[br] c MetaTrader
            +e.A(href="#").item.column._xs-6._md-3._lg-6.wow.fadeInUp
              +e.icon
                include ../static/img/svg/faq.svg
              +e.title Остальное в разделе #[br] «Вопрос - Ответ»
        +b.IMG.main-info-banner.column._md-6._xs-12.wow.fadeInUp( src="%=static=%img/content/content_1.jpg" )

  +map()

block scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
