extends _template.pug
include ../components/breadcrumbs/breadcrumbs
include ../components/card/card
include ../components/big-card/big-card
include ../components/default-block/default-block
include ../components/banners/splitted

block body
  section
    +b.main-screen
      +e.background
        +e.IMG.img._on_desktop(src="%=static=%img/content/metatrader.jpg", alt="metatrader")
        +e.IMG.img._on_tablet(src="%=static=%img/content/metatrader_tablet.jpg", alt="metatrader")
        +e.IMG.img._on_mobile(src="%=static=%img/content/metatrader_mobile.jpg", alt="metatrader")
      +e.overlay
      +e.container.container
        +e.breadcrumbs
          +breadcrumbs(['Главная', 'MetaTrader'])._theme_light
        +e.content
          +b.main-content
            +e.title MetaTrader 5
            +e.text Множество финансовых рынков на одной платформе
        +e.footer.swiper-container
          +e.footer-items-wrapper.swiper-wrapper
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/currency-pair_white_red.svg
                +e.description Торгуйте сразу несколькими  инструментами
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/metatrader-icon_transparent.svg
                +e.description Интерактивные графики и котировки
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/cheap-icon.svg
                +e.description Освободитесь от рутины
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/docs_transparent.svg
                +e.description Копируйте сделки успешных трейдеров
        .main-slider__bullets

  +b.SECTION.section._size_small._theme_default.section-utp
    .container
      +b.utps.row
        +e.item.column._xs-6.wow.fadeInUp
          +e.icon
            include ../static/img/svg/currency-pair-icon.svg
          +e.title Торгуйте сразу несколькими  инструментами
        +e.item.column._xs-6.wow.fadeInUp
          +e.icon
            include ../static/img/svg/metatrader-icon-graph.svg
          +e.title Интерактивные графики и котировки
        +e.item.column._xs-6.wow.fadeInUp
          +e.icon
            include ../static/img/svg/cheap-icon2.svg
          +e.title Освободитесь от рутины
        +e.item.column._xs-6.wow.fadeInUp
          +e.icon
            include ../static/img/svg/docs_2.svg
          +e.title Копируйте сделки успешных трейдеров

  +b.SECTION.section._size_small.web-trading
    .container
      .row.offset-wrapper
        +b.column._lg-6.wow.fadeInUp
          +default-block({
            heading: 'Многофункциональная экосистема для работы сразу на нескольких финансовых рынках',
            text: 'Мультирыночная платформа MetaTrader 5 позволяет совершать торговые операции на Forex, фондовых биржах и фьючерсами. \nС помощью MetaTrader 5 можно также проводить технический анализ котировок, работать с программами алгоритмического трейдинга и копировать сделки других трейдеров'
          })
        +b.column._lg-1
        +b.column._lg-5.wow.fadeInUp
            +b.card
              +e.subtitle.text Web-трейдинг
              +e.title.heading Торги с любого устройства
              +e.text.text Начни торговать на финансовом рынкеAlfa-Forex всего в пару кликов. Все, что вам потребуется — это выход в интернет.
              +e.button
                +b.BUTTON.button._theme_white._has_no_icon._theme_on_red._is_bold
                  +e.content
                    +e.text Начать торги

  +b.SECTION.section._size_xsmall._theme_default
    +b.container
      +b.heading._center._for_element._left.wow.fadeInUp Преимущества MetaTrader
      +b.feature-wrapper._col.feature-slider.swiper-container
        .swiper-wrapper
          +e.row.swiper-slide
            +b.feature._horizontal.wow.fadeInUp
              +e.icon
                include ../static/img/svg/cheap-icon2.svg
              +e.title Все виды ордеров, включая рыночные, отложенные и стоп-ордера

            +b.feature._horizontal.wow.fadeInUp
              +e.icon
                include ../static/img/svg/metatrader-icon-graph.svg
              +e.title Возможности торговли прямо с графика и торговли в один клик

            +b.feature._horizontal.wow.fadeInUp
              +e.icon
                include ../static/img/svg/speed-icon-darken.svg
              +e.title 21 таймфрейм – от минутного до месячного (до 100 графиков финансовых инструментов
          +e.row.swiper-slide
            +b.feature._horizontal.wow.fadeInUp
              +e.icon
                include ../static/img/svg/doc-with-chart.svg
              +e.title 82  аналитических инструмента, включая индикаторы и графические объекты

            +b.feature._horizontal.wow.fadeInUp
              +e.icon
                include ../static/img/svg/chart_small.svg
              +e.title Мощный язык MQL5 с интегрированной средой разработки

            +b.feature._horizontal.wow.fadeInUp
              +e.icon
                include ../static/img/svg/metatrader-icon-dark.svg
              +e.title Бесплатная база технических индикаторов и магазин торговых приложений
      .feature-slider__bullets
      +b.feature__button
        +b.BUTTON.button
          +e.content
            +e.icon
              include ../static/img/svg/money.svg
            +e.text Открыть счет

      +banner-big("%=static=%img/content/metatrader.jpg", "#metatrader")
      +banner-splitted("%=static=%img/content/content_1.jpg", "#metatrader-1", "%=static=%img/content/content_1.jpg", "#metatrader-2")

  +b.SECTION.section._theme_default.web-rating
    .container
      +b.row
        +b.column._md-6
          +b.default-block
            +e.heading.heading.wow.fadeInUp Веб-трейдинг с MetaTrader 5
            +e.text.text.wow.fadeInUp Веб-платформа MetaTrader 5 незаменима, если нет возможности установить десктопный терминал или воспользоваться мобильным приложением. Она позволяет торговать на Форексе и фондовых рынках через любой браузер в любой операционной системе (Windows, Mac, Linux) без загрузки и установки приложения. #[br] Все, что вам потребуется — это выход в интернет
            +b.BUTTON.button._theme_white._has_no_icon._is_bold.wow.fadeInUp
              +e.content
                +e.text Начать торги
        +b.column._md-6.floating.laptop
          img.wow.slideInRight(data-wow-duration="0.8s" src="%=static=%img/content/laptop.png", alt="laptop")

  +b.SECTION.section._size_large
    .container
      +b.row
        +b.column._md-6.floating-wrapper.metatrader
          img.tablet.wow.slideInLeft(data-wow-duration="0.8s" src="%=static=%img/content/tablet.png", alt="tablet")
          img.floating.phone.wow.slideInLeft(data-wow-delay="0.2s" data-wow-duration="0.7s" data-wow-offset="10" src="%=static=%img/content/phone.png", alt="phone")
        +b.column._md-6
          .application__heading.heading.wow.fadeInUp Мобильный MetaTrader
          .application__text.text.wow.fadeInUp Альфа-Форекс бесплатно предоставляет вам несколько версий MetaTrader 5 — для устройств, работающих на Windows, iOS и Android.
          .application__footer.wow.fadeInUp
            .application__title Скачать MetaTrader 5
            .application__bar
              a.application__icon._mode_apple(href="#" data-tooltip="" title="iOS")
                include ../static/img/svg/apple.svg
              a.application__icon(href="#" data-tooltip="" title="Android")
                include ../static/img/svg/google-play.svg
              a.application__icon(href="#" data-tooltip="" title="Linux")
                include ../static/img/svg/linux.svg
              a.application__icon._mode_mac-os(href="#" data-tooltip="" title="Mac OS")
                include ../static/img/svg/mac-os.svg
              a.application__icon(href="#" data-tooltip="" title="Windows")
                include ../static/img/svg/windows.svg

  +b.SECTION.section._size_medium._has_no-offset-bottom
    .container
        +b.big-card._size_medium.metatrader-card
          +e.content
            +e.subtitle._size_small MetaTrader Market
            +e.title._size_medium Тысячи лучших роботов и индикаторов
            +e.text Они действуют без участия трейдера — самостоятельно анализируют котировки и совершают торговые операции в соответствии с заложенным в них алгоритмом.
            +e.buttons
              +b.BUTTON.button._theme_white._has_no_icon._theme_on_red._is_bold
                +e.content
                  +e.text Начать торги
          +e.media
            +e.img-wrap
              +e.IMG.img(src="%=static=%img/content/robot.png")

  +b.SECTION.section._size_large
    .container
      +b.heading._center._for_element.wow.fadeInUp Как начать?
      +b.how-to-start
        +e.items
          +e.item.feature
            .feature__icon.feature__icon_office
              include ../static/img/svg/safe.svg
            .feature__title Откройте #[br] торговый счет
          +e.item.feature
            .feature__icon
              include ../static/img/svg/mobile-cloud.svg
            .feature__title Скачайте #[br] торговый терминал #[br] MetaTrader
          +e.item.feature
            .feature__icon
              include ../static/img/svg/profile.svg
            .feature__title Введите данные #[br] счета для входа #[br] в платформу
          +e.item.feature
            .feature__icon._phone
              include ../static/img/svg/mobile_and_card.svg
            .feature__title Пополните счет #[br] любым удобным #[br] способом
          +e.item.feature
            .feature__icon
              include ../static/img/svg/trade-start.svg
            .feature__title Начните #[br] зарабатывать#[br] на рынке Форекс
        +e.button
          +b.BUTTON.button
            +e.content
              +e.icon
                include ../static/img/svg/money.svg
              +e.text Открыть счет
