extends _template.pug
include ../components/breadcrumbs/breadcrumbs
include ../components/card/card
include ../components/terms/terms
include ../components/big-card/big-card
include ../components/default-block/default-block
include ../components/banners/splitted

block body
  section
    +b.main-screen
      +e.background
        +e.IMG.img._on_desktop(src="%=static=%img/content/mobile-trading.jpg", alt="trader")
        +e.IMG.img._on_tablet(src="%=static=%img/content/mobile-trading_tablet.jpg", alt="trader")
        +e.IMG.img._on_mobile(src="%=static=%img/content/mobile-trading_mobile.jpg", alt="trader")
      +e.overlay
      +e.container.container
        +e.breadcrumbs
          +breadcrumbs(['Главная', 'Мобильный трейдинг'])._theme_light
        +e.content
          +b.main-content
            +e.title Мобильный трейдинг
            +e.text Торгуйте на Форекс в любой точке мира #[br] в своем планшете или смартфоне
        +e.footer.swiper-container
          +e.footer-items-wrapper.swiper-wrapper
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/mobile_transparent.svg
                +e.description Поддержка известных устройств на iOS и Android
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/metatrader-icon_transparent.svg
                +e.description Полный контроль средств на вашем торговом счете
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/24on7.svg
                +e.description Круглосуточная торговля 24/7 из любой точки мира
            +e.footer-item.swiper-slide
              +e.footer-item-content
                +e.icon
                  include ../static/img/svg/docs_transparent.svg
                +e.description Интерактивные графики котировок и новости рынков
        .main-slider__bullets

  +b.SECTION.section._size_small.section-utp
    .container
      +b.utps.row
        +e.item.column._xs-6.wow.fadeInUp
          +e.icon
              include ../static/img/svg/mobile_dark.svg
          +e.title Поддержка известных устройств на iOS и Android
        +e.item.column._xs-6.wow.fadeInUp
          +e.icon
            include ../static/img/svg/metatrader-icon-graph.svg
          +e.title Полный контроль средств на вашем торговом счете
        +e.item.column._xs-6.wow.fadeInUp
          +e.icon
            include ../static/img/svg/24on7_dark.svg
          +e.title Круглосуточная торговля 24/7 из любой точки мира
        +e.item.column._xs-6.wow.fadeInUp
          +e.icon
            include ../static/img/svg/docs_2.svg
          +e.title Интерактивные графики котировок и новости рынков

  +b.SECTION.section._size_small.web-trading
    .container
      .row.offset-wrapper
        +b.column._lg-5.wow.fadeInUp
          +card()
        +b.column._lg-1
        +b.column._lg-6.wow.fadeInUp
          +b.default-block.mobile-trading-features
            +e.heading.heading.wow.fadeInUp Преимущества
            +e.text.text._theme_lightgray.wow.fadeInUp Хотя терминалы для мобильной торговли обладают менее богатым по сравнению со стандартным функционалом, тем не менее все они в обязательном порядке включают следующие функции:
            +terms(['работа со всеми видами рыночных и отложенных ордеров', 'просмотр котировок в режиме реального времени', 'работа с графиками и некоторыми инструментами технического анализа', 'возможность открытия демо счета непосредственно из программы', 'работа с несколькими демо и/или реальными счетами'])

  +b.SECTION.section._size_xsmall
    +b.container
      .row
        +b.column._lg-5.wow.fadeInUp
          +b.default-block
            +e.heading.heading.wow.fadeInUp Все возможности рынка на вашей ладони
            +e.text.text._theme_lightgray.wow.fadeInUp Мобильный трейдинг — это возможность торговать на Форексе, фондовой бирже, а также фьючерсами в любое время из любой точки мира. Имея смартфон или планшет с установленным приложением MetaTrader 5 для iOS или Android, вы всегда будете в курсе рыночной ситуации и сможете совершать торговые операции 24 часа в сутки. Все возможности торговой платформы MetaTrader 5 умещаются у вас на ладони!
        +b.column._lg-1
        +b.column._lg-6
          +b.feature-wrapper.feature-slider.swiper-container
            .swiper-wrapper
              +e.row.swiper-slide.row
                +b.column._md-4
                  +b.feature._horizontal-sm.wow.fadeInUp
                    +e.icon#shield
                      include ../static/img/svg/notification.svg
                    +e.title PUSH-уведомления #[br] и дополнительные #[br] функции

                +b.column._md-4
                  +b.feature._horizontal-sm.wow.fadeInUp
                    +e.icon
                      include ../static/img/svg/chart_small.svg
                    +e.title Все финансовые #[br] рынки в твоем #[br] кармане

                +b.column._md-4
                  +b.feature._horizontal-sm.wow.fadeInUp
                    +e.icon#shield
                      include ../static/img/svg/speed-icon-darken.svg
                    +e.title Работет #[br] значительно #[br] дольше ноутбука
              +e.row.swiper-slide.row
                +b.column._md-4
                  +b.feature._horizontal-sm.wow.fadeInUp
                    +e.icon#percent
                      include ../static/img/svg/cheap-icon2.svg
                    +e.title Доступен везде, #[br] где есть интернет

                +b.column._md-4
                  +b.feature._horizontal-sm.wow.fadeInUp
                    +e.icon#available
                      include ../static/img/svg/World.svg
                    +e.title Торговля валютами #[br] и акциями из любой #[br] точки мира

                +b.column._md-4
                  +b.feature._horizontal-sm.wow.fadeInUp
                    +e.icon#shield
                      include ../static/img/svg/without-commission-icon-darken.svg
                    +e.title Больше свободного #[br] времени на то, #[br] что нравится
          .feature-slider__bullets

  +b.SECTION.section._size_large._theme_default.mobile-trading-section
    .container
      +b.row
        +b.column._md-6.mobile-trading
          img.floating.android.wow.slideInLeft(data-wow-duration="0.8s" src="%=static=%img/content/android.png", alt="android")
          img.floating.iphone-2.wow.slideInLeft(data-wow-delay="0.2s" data-wow-duration="0.7s" data-wow-offset="10" src="%=static=%img/content/phone_2.png", alt="phone")
        +b.column._md-6
          .application__heading.heading.wow.fadeInUp Мобильный трейдинг #[br] для iOS и Android
          .application__text.text.wow.fadeInUp Откройте учебный или реальный торговый счет и ощутите преимущества мобильного трейдинга самостоятельно!
          .row.mobile-trading-wrap
            +b.BUTTON.button._theme_gray._is_bold
              +e.content
                +e.icon._mode_apple
                  include ../static/img/svg/apple.svg
                +e.text Скачать в App Store
            +b.BUTTON.button._theme_gray._is_bold
              +e.content
                +e.icon
                  include ../static/img/svg/google-play.svg
                +e.text Скачать в Google Play

  section.section
    .container
      +b.heading._center._for_element.wow.fadeInUp Как начать?
      +b.how-to-start
        +e.items
          +e.item.feature
            .feature__icon
              include ../static/img/svg/safe.svg
            .feature__title Откройте #[br] торговый счет
          +e.item.feature
            .feature__icon
              include ../static/img/svg/mobile-cloud.svg
            .feature__title Скачайте #[br] торговый терминал #[br] MetaTrader
          +e.item.feature
            .feature__icon
              include ../static/img/svg/profile.svg
            .feature__title Введите данные #[br] счета для входа #[br] в платформу
          +e.item.feature
            .feature__icon.feature__icon_phone
              include ../static/img/svg/mobile_and_card.svg
            .feature__title Пополните счет #[br] любым удобным #[br] способом
          +e.item.feature
            .feature__icon
              include ../static/img/svg/trade-start.svg
            .feature__title Начните #[br] зарабатывать#[br] на рынке Форекс
        +e.button
          +b.BUTTON.button
            +e.content
              +e.icon
                include ../static/img/svg/money.svg
              +e.text Открыть счет

  +banner-big-section("%=static=%img/content/metatrader.jpg", "#mobile-trading")
  +banner-splitted-section("%=static=%img/content/content_1.jpg", "#mobile-trading-1", "%=static=%img/content/content_1.jpg", "#mobile-trading-2")
