extends _template.pug
include ../components/breadcrumbs/breadcrumbs
include ../components/faq/partials/form
include ../components/banners/sidebar

block body
  +b.SECTION.section._theme_content._size_xsmall
    .container
      +breadcrumbs(['Главная', 'Новости'])
      +b.content-head
        +b.H1.h1 Новости
      +b.content(data-component="news")
        +e.main
          +b.news-filter
            +b.time-link-wrapper
              +b.A.time-link._active(href="#" data-type="all-time")
                +e.text За всё время
              +b.A.time-link(href="#" data-type="week")
                +e.text За неделю
              +b.A.time-link(href="#" data-type="month")
                +e.text За месяц
            +e.datepicker(data-component="calendar")
              +b.A.datepicker-button
                +e.icon
                    include ../static/img/svg/ic-date.svg
                +e.text Выберите период
              +b.datepicker-modal
                +e.close
                  include ../static/img/svg/ic-close.svg
                +e.inputs(data-type='range')
                  +e.icon-mobile
                    include ../static/img/svg/ic-date.svg
                  +e.SPAN.text-mobile С
                  +e.date._begin
                    +e.INPUT.input(required data-mask="date" data-type="date" title="Начальная дата в формате: dd.MM.YYYY" id="startDate" name="start" size="20" placeholder = 'дд.мм.гггг')
                    include ../static/img/svg/ic-date-input.svg
                  +e.SPAN.text-mobile - По
                  +e.date._end
                    +e.INPUT.input(required data-mask="date" data-type="date" title="Конечная дата в формате: dd.MM.YYYY" id="endDate" name="end" size="20" placeholder = 'дд.мм.гггг')
                    include ../static/img/svg/ic-date-input.svg
          +b.news-categories._mobile
            +e.arrow
              include ../static/img/svg/chevron-red.svg
            +e.header
              +b.A.category-link._active(href="#all")
                +e.icon
                  include ../static/img/svg/ic-all-sections.svg
                +e.text Все разделы
            +e.body
              +b.A.category-link(href="#most-popular")
                +e.icon
                  include ../static/img/svg/ic-internet-trade.svg
                +e.text Самое популярное
              +b.A.category-link(href="#forex")
                +e.icon
                  include ../static/img/svg/ic-mobile-trade.svg
                +e.text Форекс
              +b.A.category-link(href="#commodities")
                +e.icon
                  include ../static/img/svg/ic-money-io.svg
                +e.text Сырьевые товары
              +b.A.category-link(href="#stock-market")
                +e.icon
                  include ../static/img/svg/ic-metatrader.svg
                +e.text Фондовый рынок
              +b.A.category-link._active(href="#all")
                +e.icon
                  include ../static/img/svg/ic-all-sections.svg
                +e.text Все разделы
          +b.news-list
            - var i = 0
            while i < 6
              +b.A.news-block(href='#')
                if (i % 2 == 0)
                  +e.DIV.image
                    +e.IMG.img(src="%=static=%img/content/content_1.jpg")
                +e.DIV.content
                  +b.DIV.news-head
                    +e.category
                      +b.category
                        +e.icon
                          include ../static/img/svg/ic-all-sections.svg
                        +e.SPAN.text Все разделы
                    +e.title Весенняя безработица в США
                    +e.text
                      | Очередные попытки восстановления доллара оказались кратковременными.
                      | После спроса в начале недели, уже во вторник валюта…
                  +b.DIV.news-bottom
                    +e.date 3 мая 2018
                    +e.arrow
                      include ../static/img/svg/ic-arrow.svg
              - i++
          +b.news-pagination
            +e.A.btn._prev(href='#')
              include ../static/img/svg/ic-next-pagination.svg
            +e.A.item._active(href='#') 1
            +e.A.item(href='#') 2
            +e.A.item(href='#') 3
            +e.A.item(href='#') 4
            +e.A.item(href='#') 5
            +e.A.item(href='#') 6
            +e.A.item.delimeter(href='') ...
            +e.A.item(href='#') 52
            +e.A.btn._next(href='#')
              include ../static/img/svg/ic-next-pagination.svg


        +e.sidebar
          +b.news-categories
            +e.title По разделам
            +b.A.category-link(href="#most-popular")
              +e.icon
                include ../static/img/svg/ic-internet-trade.svg
              +e.text Самое популярное
            +b.A.category-link(href="#forex")
              +e.icon
                include ../static/img/svg/ic-mobile-trade.svg
              +e.text Форекс
            +b.A.category-link(href="#commodities")
              +e.icon
                include ../static/img/svg/ic-money-io.svg
              +e.text Сырьевые товары
            +b.A.category-link(href="#stock-market")
              +e.icon
                include ../static/img/svg/ic-metatrader.svg
              +e.text Фондовый рынок
            +b.A.category-link._active(href="#all")
              +e.icon
                include ../static/img/svg/ic-all-sections.svg
              +e.text Все разделы
          +sidebar-banner("%=static=%img/content/content_1.jpg", "#news")
