extends _template.pug
include ../components/breadcrumbs/breadcrumbs
include ../components/faq/partials/form
include ../components/banners/sidebar

block body
  +b.SECTION.section._theme_content._size_xsmall
    .container
      +breadcrumbs(['Главная', 'Новости', 'USDPLN и EURPLN теперь доступны для торговли'])
      +b.content
        +e.main
          +b.article
            +e.header
              h1.h1 USDPLN и EURPLN теперь доступны для торговли
              +b.article-meta
                +e.icon
                  include ../static/img/svg/news-grey.svg
                +e.text 5 мая 2018
            +e.body
              p
                | EURUSD отступила от максимумов вблизи отметки 1.23 и в моменте даже
                | пыталась протестировать уровень 1.22, но в итоге обосновалась в середине диапазона,
                | минимизировав потери. Спрос на единую валюту, помимо перекупленности, угас на фоне тревожных
                | сообщений из Германии, где возникли сложности с формированием коалицион-ного правительства.
                | Однако рынок не спешит впадать в панику, ограничившись частичной фиксацией прибыли. Текущая
                | динамика пары указывает на актуальность стратегии покупок на спадах, и такие настроения будут
                | сохраняться до тех пор, пока от ЕЦБ не поступит «отрезвляющий» сигнал или пока доллар не обзаведется значимым фактором поддержки.
              img(src="http://via.placeholder.com/960x460")
              p
                | Хоть в официальном правиле и говорится, что эти средства "резервируются", но так или иначе,
                | вы не можете ими воспользоваться.На некоторых сервисах они остаются на балансе и замо-рожены навсегда, другие
                | сервисы, например мы, просто не отображаютих на балансе.
              h2 Когда происходит списание?
              p
                | Списание 20 монет происходит только 1 раз в момент совершения перевода с одного кошелька на другой. Соответственно,если
                | прежде кошелек не активировался и переводов с него не производилось, то при первой попытке перевести на другойкошелек Рипл
                | (вашему другу, к примеру) 100 XRP - придет лишь 80. После этого кошелек считается "активированным" и таких списаний не будет.
              P
                | Правило находится на официальном сайте компании
                a(href="https://ripple.com/build/reserves/") https://ripple.com/build/reserves/
              +b.P.highlight._grey
                | Во вторник доллар слегка восстановился от 3-летних минимумов, но коррекция была очень скромной, и в амери-канскую сессию
                | валюта лишилась части набранных очков. В пятницу правительству США в очередной раз предстоит избежать приостановки работы.
              p
                | EURUSD отступила от максимумов вблизи отметки 1.23 и в моменте даже пыталась протес-тировать уровень 1.22,
                | но в итоге обосновалась в середине диапазона, минимизировав потери.
              +b.P.highlight._red
                | Во вторник доллар слегка восстановился от 3-летних минимумов, но коррекция была очень скромной, и в амери-канскую
                | сессию валюта лишилась части набранных очков.
              p
                | GBPUSD снова пыталась пробить отметку 1.38, но оживление спроса на доллар воспрепятствовало продолжению ралли, хотя и коррекция
                | ограничилась областью 1.3740, откуда впоследствии пара поднялась и почти нивелировала внутридневные потери. Пара не спешит падать,
                | спокойно дожидаясь новостей по Брекзиту и уповая на усилия медведей по доллару. Сегодня США опубликуют Бежевую книгу, а также состоятся
                | выступления пред-ставителей ФРС Эванса и Каплана. Если по итогам этих событий на рынке сформируется довольно оптимистичная картина, пара
                | может углубить коррекцию, при условии что со стороны Брекзита в течение дня не поступит бычьих сигналов.

        +e.sidebar
          +sidebar-banner("%=static=%img/content/content_1.jpg", "#article")
