extends _template.pug
include ../components/breadcrumbs/breadcrumbs
include ../components/faq/partials/form
include ../components/pagination/pagination
include ../components/banners/sidebar

block body
  +b.SECTION.section._theme_content._size_xsmall
    .container
      +breadcrumbs(['Главная', 'Поиск'])
      +b.content-head
        +b.H1.h1 Поиск
      +b.content
        +e.main
          +b.faq-search
            form(action="/search/")
              +b.content-search
                +e.INPUT.input(type="text" placeholder="Поиск по вопросам")
                +e.icon
                  include ../static/img/svg/search-icon.svg
                +e.clear-button
                  include ../static/img/svg/cross.svg
          +b.faq-list.search-list
            +b.faq-block
              +b.faq-head
                +e.category
                  +b.category
                    +e.icon
                      include ../static/img/svg/ic-mobile-trade.svg
                    +e.SPAN.text Мобильный трейдинг
                +e.title Как оплачивается комиссия на исполнение ордера?
                +e.text
                  | Хоть в официальном правиле и говорится, что эти средства "#[span.found-text резерв]ируются", но так или иначе,
                  | вы не можете ими воспользоваться.На некоторых сервисах они остаются на балансе и заморожены
                  | навсегда, другие сервисы, например мы, просто не отображаютих на балансе…
            +b.faq-block
              +b.faq-head
                +e.category
                  +b.category
                    +e.icon
                      include ../static/img/svg/news.svg
                    +e.SPAN.text Новости
                +e.title Как долго осуществляется вывод средств?
                +e.text
                  | Хоть в официальном правиле и говорится, что эти средства "#[span.found-text резерв]ируются", но так или иначе,
                  | вы не можете ими воспользоваться.На некоторых сервисах они остаются на балансе и заморожены
                  | навсегда, другие сервисы, например мы, просто не отображаютих на балансе…
            +b.faq-block
              +b.faq-head
                +e.category
                  +b.category
                    +e.icon
                      include ../static/img/svg/ic-mobile-trade.svg
                    +e.SPAN.text Мобильный трейдинг
                +e.title Как оплачивается комиссия на исполнение ордера?
                +e.text
                  | Хоть в официальном правиле и говорится, что эти средства "#[span.found-text резерв]ируются", но так или иначе,
                  | вы не можете ими воспользоваться.На некоторых сервисах они остаются на балансе и заморожены
                  | навсегда, другие сервисы, например мы, просто не отображаютих на балансе…
            +b.faq-block
              +b.faq-head
                +e.category
                  +b.category
                    +e.icon
                      include ../static/img/svg/news.svg
                    +e.SPAN.text Новости
                +e.title Как оплачивается комиссия на исполнение ордера?
                +e.text
                  | Хоть в официальном правиле и говорится, что эти средства "#[span.found-text резерв]ируются", но так или иначе,
                  | вы не можете ими воспользоваться.На некоторых сервисах они остаются на балансе и заморожены
                  | навсегда, другие сервисы, например мы, просто не отображаютих на балансе…
            +b.faq-block
              +b.faq-head
                +e.category
                  +b.category
                    +e.icon
                      include ../static/img/svg/ic-all-questions.svg
                    +e.SPAN.text Вопрос - ответ
                +e.title Как оплачивается комиссия на исполнение ордера?
                +e.text
                  | Хоть в официальном правиле и говорится, что эти средства "#[span.found-text резерв]ируются", но так или иначе,
                  | вы не можете ими воспользоваться.На некоторых сервисах они остаются на балансе и заморожены
                  | навсегда, другие сервисы, например мы, просто не отображаютих на балансе…
            +b.faq-block
              +b.faq-head
                +e.category
                  +b.category
                    +e.icon
                      include ../static/img/svg/ic-mobile-trade.svg
                    +e.SPAN.text Мобильный трейдинг
                +e.title Как оплачивается комиссия на исполнение ордера?
                +e.text
                  | Хоть в официальном правиле и говорится, что эти средства "#[span.found-text резерв]ируются", но так или иначе,
                  | вы не можете ими воспользоваться.На некоторых сервисах они остаются на балансе и заморожены
                  | навсегда, другие сервисы, например мы, просто не отображаютих на балансе…
          +pagination()
        +e.sidebar
          +b.FORM.form._small._expand_xs.faq-form(action="#")
            +e.heading.heading Не нашли то, что искали?
            +e.text.text Можете отправить ваш вопрос и мы с радостью ответим на него
            +b.input-container.form__input-wrapper
              +e.control.form__input-control
                +e.INPUT.input.form__input(type="text" id="input-1" data-type="email" data-invalid-message="Введите корректный e-mail" name="email")
                +e.LABEL.placeholder(for="input-1") Ваш e-mail
            +b.input-container.form__input-wrapper
              +e.control.form__input-control
                +e.TEXTAREA.textarea.form__input(type="text" id="input-2" name="message" rows="2")
                +e.LABEL.placeholder(for="input-2") Ваш вопрос
            +e.hint
              | Нажимая кнопку «Отправить», вы соглашаетесь с условиями обработки&nbsp;
              +e.A(href="#").link персональных данных
              |.
            +e.BUTTON.button.button._theme_white._theme_on_red._is_bold
              .button__content
                .button__icon
                  include ../static/img/svg/mark.svg
                .button__text Отправить
            +b.progressbar.form__progressbar
              +e.line._inner
              +e.line._outer
          +sidebar-banner("%=static=%img/content/content_1.jpg", "#search-result")
