extends _template.pug
include ../components/breadcrumbs/breadcrumbs
include ../components/files-list/files-list
include ../components/trading-table/trading-table
include ../components/terms/terms
include ../components/banners/splitted

block body
 +b.SECTION.section._theme_default._size_xsmall
    .container
      +breadcrumbs(['Главная', 'Торговые условия'])

      +trading-table()

      - var text = ['Альфа-Форекс оставляет за собой право корректировать величину спреда в зависимости от рыночной ситуации: в периоды повышенной волатильности и/или ограниченной ликвидности на рынке.', 'Данные спецификации действуют как для торговой платформы MetaTrader5, так и для торговой платформы MetaTrader4.', 'Данные ставок своп рассчитываются ежедневно и зависят от разницы процентных ставок государств, торгуемых валют. В ночь со среды на четверг своп списывается/начисляется в тройном размере.', 'Своп по рублевым инструментам, а также USDCAD списывается/начисляется в тройном размере с четверга на пятницу.', 'Для валютных пар с пятью знаками после запятой 1 пункт - это четвертый знак после запятой. Для валютных пар с тремя знаками после запятой 1 пункт - это второй знак после запятой.'];

      +terms(text)

      +b.content
        +e.main
          +b.accordion-pane
            +e.header
              +e.title Архив торговых условий
              //- +e.subtitle Общества с ограниченной ответственностью «Альфа-Форекс»
              +e.icon
                include ../static/img/svg/chevron-red.svg
            +e.body

              +b.UL.files-list
                each title in ['Торговые условия Альфа-Форекс до 29.12.2016', 'Торговые условия Альфа-Форекс с 20.03.2015 по 30.03.2015', 'Торговые условия Альфа-Форекс с 31.03.2015 по 12.10.2015', 'Торговые условия Альфа-Форекс с 20.03.2015 по 30.03.2015', 'Торговые условия Альфа-Форекс с 31.03.2015 по 12.10.2015']
                  +e.LI.item
                    +b.A.file-link(href="#")
                      +e.title=title
                      +e.info
                        +b.file-info._pdf
                          +e.icon
                            include ../static/img/svg/ic-adobe.svg
                          +e.name PDF
                          +e.size 690.32 KB
      +banner-big("%=static=%img/content/metatrader.jpg", "#trading-terms")
      +banner-splitted("%=static=%img/content/content_1.jpg", "#trading-terms-1", "%=static=%img/content/content_1.jpg", "#trading-terms-2")
