html, body
  height 100%

html
  -ms-overflow-style -ms-autohiding-scrollbar

a
  color $c-red
  $transition(hover)
  cursor pointer
  &:hover
    color $c-darkred

h1
.h1
  $font-size($fz-biggest)
  font-weight 300
  color $c-darkest
  margin 0

  +below('xs')
    font-size 32px
    line-height 52px
    width 100%


.page
  font-family $font
  font-size 16px
  line-height 1
  font-weight 400

.page-wrapper
  min-height 100%
  // margin-bottom -50px

* html .page__wrapper
  height 100%

.page__buffer
  height 50px

.link
  font-size $fz-small
  line-height 1.225
  color $c-lightgray
  transition .3s ease color
  &:hover
    color $c-red

.section
  position relative
  padding 100px 0
  +below('md')
    padding 70px 0
  +below('sm')
    padding 40px 0

  &_padding_bottom_small
    +below('xs')
      padding-bottom 0 !important
  &_size_large
    padding 120px 0
    +below('md')
      padding 80px 0
    +below('sm')
      padding 40px 0

  &_size_medium
    padding 80px 0
    +below('sm')
      padding 60px 0
    +below('xs')
      padding 40px 0

  &_size_small
    padding 80px 0
    +below('sm')
      padding 40px 0
  &_size_xsmall
    padding 40px 0 100px
    +below('sm')
      padding 40px 0
  &_has_no-offset-bottom
    padding-bottom 0
  &_has_no-offset-top
    padding-top 0
  &_theme_default
    background-color $c-background_default
  &_theme_content
    background-color $c-background_content
  &_hidden
    overflow hidden

.section-404
  .row
    position relative
    z-index 1
  .default-block
    &__heading
      margin-bottom 25px
    &__text
      +below('md')
        margin-bottom 0
    .big-card__buttons
      margin-top 30px
    a
      word-wrap break-word
  .container
    height calc(100vh - 234px)
    position relative
    +below('xs')
      position static
    +above('lg')
      height 640px
    +below('md')
      height 480px

.not-found-background
  position absolute
  width 100%
  height 100%
  top -86px
  right 0
  +below('md')
    top -70px
  +below('sm')
    top auto
    bottom -80px
  +below('xs')
    bottom 0
    height auto
    top auto

.web-rating
  +above('md')
    padding-bottom 180px
  +below('sm')
    margin-bottom 25px
  .default-block
    +above('lg')
      padding-right 5px

.web-trading
  +below('xs')
    padding-bottom 0

.mobile-trading-section
  & + section
    +below('xs')
      padding-top 65px

.section-wrapper
  background-color $c-background_content
  border-top 1px solid $c-background_default
  width 100%

  +below('xs')
    padding-right 15px
    padding-left 15px

.heading
  $font-size($fz-triple)
  color $c-darkest
  margin-bottom 25px
  font-weight 300
  +below('md')
    $font-size($fz-predouble)
  +below('xs')
    $font-size($fz-double)
  +below(400px)
    $font-size(26px)
  &_for_element
    margin-bottom 40px
    +below('sm')
      margin-bottom 24px
  &_size_small
    $font-size($fz-double)
    +below('xs')
      $font-size($fz-xxl)
  &_size_xsmall
    $font-size($fz-xxl)

  &_center
    text-align center
  &_left
    +below('xs')
      text-align left

.requsites-heading
  margin-bottom 0
  margin-right auto
  display flex
  &:after
    content ''
    width 5px
    height 5px
    border-radius 5px
    background-color #D8D8D8
    margin-left 3px

  & + .download-link
    +below('xs')
      margin 10px 0 10px 10px

.requsites-tip
  font-size $fz-small
  line-height 22px
  color rgba($c-darkgray, 0.8)
  display flex
  align-items center
  +below('sm')
    margin-bottom 30px
  &:before
    content ''
    width 4px
    height 4px
    border-radius 4px
    background-color #D8D8D8
    margin-right 9px

.small-content
  &__title
    line-height 24px
    color $c-darkest
    margin-bottom 4px
  &__text
    font-size $fz-small
    line-height 18px
    color $c-lightgray

.content
  width 100%
  display flex

  &__sidebar
    max-width 352px
    margin-left 32px
    flex 1

  &__main
    flex 1
    max-width 100%

  +below('sm')
    flex-direction column

    &__main
      margin-bottom 40px

    &__sidebar
      margin-left 0
      max-width unset

.content-head
  margin-bottom 60px
  display flex
  align-items center

  h1
  .h1
    white-space nowrap
    &:not(:last-child)
      margin-right 70px

  +below('sm')
    flex-wrap wrap

  +below('xs')
    margin-bottom 24px
    h1
    .h1
      margin-right 0
      &:not(:last-child)
        margin-bottom 16px

.content-search
  display flex
  padding-top 2px
  position relative

  &__icon
    display inline-block
    margin-right 12px

    svg
      display block

      path
        transition fill .3s ease
        fill $c-lightgray

  &__input
    order 1
    width calc(100% - 34px)
    border none
    -webkit-appearance none
    -moz-appearance none
    appearance none
    border-bottom 1px solid
    border-color $c-lightgray
    border-radius 0
    padding 0 26px 6px 0
    color $c-darkgray
    outline none
    font-weight 500
    font-size $fz-medium
    line-height 20px
    background transparent
    $transition(border-color)

    &::placeholder
      color $c-lightgray

    &:focus
      border-color $c-darkgray
      & ~ ^[0]__icon svg path
        fill $c-red

   &__clear-button
    position absolute
    right 6px
    top 4px
    display none
    animation fadeIn .3s ease
    cursor pointer
    svg
      $transition(fill)
      fill $c-lightgray
    &:hover
      svg
        fill $c-red

.found-text
  color $c-red

.white-box
  display flex
  flex-direction column
  padding 40px 40px 47px 40px
  border 1px solid $c-light-border
  margin-bottom 32px
  position relative

  &__title
    color $c-darkest
    margin-bottom 32px
    font-size 32px
    font-weight 300
    line-height 44px

.download-link
  $font-size(14px)
  color $c-lightgray
  display flex
  align-items center
  font-weight 500
  transition .3s ease

  &
  svg g
    transition .3s ease

  &:hover
    color $c-darker
    svg
      g
        fill $c-darker

  &__icon
    display inline-block
    margin-right 12px
    svg
      display block
.text
  line-height 22px
  color $c-gray
  &_theme_lightgray
    color rgba($c-gray, 50%)
  +below('xs')
    font-weight 300

.asterix-info
  opacity 0.5
  color $c-darkgray
  font-size 13px
  line-height 18px
  margin-bottom 40px

.invisible
  visibility hidden!important

for item in 'xs' 'sm' 'md' 'lg'
  .hidden-{item}
    +below(item)
      display none!important

.visible-only-xs
  +above('sm')
    display none!important

.visible-only-sm
  +above('md')
    display none!important

.visible-only-md
  +above('lg')
    display none!important

.visible-only-lg
  +below('md')
    display none!important

.fadeOut
  animation fadeOut .3s ease forwards!important

@keyframes fadeOut
  0%
    opacity 1
  100%
    opacity 0

.wow
  visibility hidden
  animation-duration .25s
  animation-fill-mode both

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@keyframes slideInRight
  0%
    opacity 0
    -webkit-transform translateX(2000px)
    transform translateX(2000px)

  100%
    -webkit-transform translateX(0)
    transform translateX(0)

.slideInRight
  -webkit-animation-name slideInRight
  animation-name slideInRight

@keyframes spin
  0%
    transform rotate(0deg)

  100%
    transform rotate(360deg)

.ss-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  float: left;
}

.ss-content
  height 100%
  width calc(100% + 18px)
  padding 0 0 0 0
  position relative
  overflow auto
  box-sizing border-box
  /.marginal-table &
    +below('xs')
      width 100%


.ss-content.rtl {
  width: calc(100% + 18px);
  right: auto;
}

.ss-scroll {
  position: relative;
  background-color: #B5BBC2;
  width: 4px;
  border-radius: 2px;
  margin-left -2px
  top: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s linear, height 0.25s ease;
}

.ss-hidden {
  display: none;
}

.ss-container:hover .ss-scroll {
  opacity: 1;
}

.ss-container::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.ss-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(#85858E, 30%);
}

.ss-grabbed {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ss-scroll
  +below('sm')
    width 6px!important

.ss-container::-webkit-scrollbar
  +below('sm')
    display none

.mobile-trading-wrap
  display flex
  margin initial
  margin-bottom -10px
  .button
    margin-bottom 10px
    &:not(:last-child)
      margin-right 20px


.mobile-trading-features
  +below('md')
    margin-top 40px
