@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.eot');
  src: url('../fonts/Roboto.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Light.eot');
  src: url('../fonts/Roboto Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Light.woff2') format('woff2'), url('../fonts/Roboto Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Medium.eot');
  src: url('../fonts/Roboto Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Medium.woff2') format('woff2'), url('../fonts/Roboto Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
  font-display: auto;
}

@font-face {
  font-family:'Roboto';
  src: url('../fonts/Roboto Bold.eot');
  src: url('../fonts/Roboto Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto Bold.woff2') format('woff2'),
  url('../fonts/Roboto Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
  font-display: auto;
}
