mixin files-list()
  +b.UL.files-list
    +e.LI.item
      +b.A.file-link(href="#")
        +e.title
          | Соответствие сотрудников требованиям, предъявляемым к работникам профессионального участника рынка ценных бумаг (период актуальности: с 01.02.2018 по настоящее время)
        +e.info
          +b.file-info._pdf
            +e.icon
              include ../../static/img/svg/ic-adobe.svg
            +e.name PDF
            +e.size 690.32 KB
    +e.LI.item
      +b.A.file-link(href="#")
        +e.title
          | Соответствие сотрудников требованиям, предъявляемым к работникам профессионального участника рынка ценных бумаг (период актуальности: с 01.02.2018 по настоящее время)
        +e.info
          +b.file-info._doc
            +e.icon
              include ../../static/img/svg/ic-word.svg
            +e.name DOC
            +e.size 690.32 KB
    +e.LI.item
      +b.A.file-link(href="#")
        +e.title
          | Договор на оказание услуг доверительного управления (период актуальности: с 01.02.2018 по настоящее время)
        +e.info
          +b.file-info._xls
            +e.icon
              include ../../static/img/svg/ic-excel.svg
            +e.name XLS
            +e.size 690.32 KB
