@import '../tabs/tabs'

.how-to-start
//   height 415px
  &__tab
    tabsItem()
    flex-wrap wrap
  &__links
    display flex
    justify-content center
    margin-bottom 80px
    +below('md')
      margin-bottom 60px
    +below('sm')
      margin-bottom 40px
    +below('xs')
      margin-bottom 25px
  &__link
    cursor pointer
    margin-right 20px
    +below('xs')
      text-align center
    +below('sm')
      font-size $fz-medium
    &:last-child
      margin-right 0
    &_is_active
      color $c-background_corporate
      text-decoration none
      & ^[0]__link-text
        color $c-background_corporate
        border-bottom none
  &__link-text
    font-size $fz-large
    color $c-lightgray
    border-bottom 1px solid rgba($c-lightgray, 70%)
    line-height 24px
    padding-bottom 2px
  &__items
    display flex
    justify-content space-between
    margin-bottom 80px
    width 100%
    overflow auto
    $scrollbar()
    +below('xs')
      padding-bottom 10px
  & &__item
    margin-bottom 0
    position relative
    width 100%
    +below('lg')
      min-width 220px
      padding 0
    +below('sm')
      margin-bottom 0
      min-width 150px

    &:not(:last-child)
      +below('sm')
        margin-right 33px
      +below('xs')
        margin-right 20px
      &:after
        content url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDIyIDEyIj48cGF0aCBmaWxsPSIjQjVCQkMyIiBkPSJNMTYuNDE2LjE4YS42MDYuNjA2IDAgMCAwLS44NjIuODUxbDQuMzcgNC4zNjJILjYwM0EuNi42IDAgMCAwIDAgNS45OTZjMCAuMzM1LjI2Ny42MS42MDMuNjFoMTkuMzJsLTQuMzY5IDQuMzUzYS42MTcuNjE3IDAgMCAwIDAgLjg2Yy4yNDEuMjQxLjYzLjI0MS44NjIgMGw1LjQwMy01LjM5M2EuNTkyLjU5MiAwIDAgMCAwLS44NTFMMTYuNDE2LjE4eiIvPjwvc3ZnPg==')
        position absolute
        right -10px
        top 30%
        +below('sm')
          right -20px
        +below('xs')
          right -15px

  &__button
    display flex
    justify-content center
    margin 0 auto
