.awards
  display flex
  justify-content space-between
  width 100%

  +below('xs')
    justify-content center
    flex-wrap wrap

  &__item
    display flex
    flex-direction column
    align-items center
    width 20%

    &:first-child
      +below('xs')
        margin-bottom 30px

    &:nth-child(3)
      +below(479px)
        margin-bottom 30px

    +below('xs')
      width 33.333%

    +below(479px)
      width 50%

  &__year
    display flex
    align-items center
    justify-content center
    margin-bottom 16px

    svg
      width 29px

      &:first-child
        margin-right 6px

      &:last-child
        margin-left 6px

  &__value
    color $c-red
    font-size $fz-medium
    font-weight 500
    line-height 20px
    text-align center

  &__title
    color $c-primary
    font-size $fz-medium
    font-weight 500
    line-height 20px
    text-align center

    +below('sm')
      font-size $fz-small


