.map-sidebar
  position absolute
  top 0
  left 0
  background-color #fff
  z-index 1
  width 100%;
  max-width 415px
  height 100%
  left -100%
  $transition(left)
  display flex
  flex-direction column
  $shadow()
  &_is_shown
    left 0
  &__container
    padding 0 38px
    +below('xs')
      padding 0 15px
  &__header
    border-bottom 1px solid #E1E4E7
    border-right 1px solid rgba(#E1E4E7, 70%)
    height 81px
    display flex
    align-items center
    flex-shrink 0
    +below('xs')
      height 53px
  &__close
    display flex
    align-items center
    cursor pointer
    &-icon
      transform rotate(180deg)
      fill $c-red
      margin-right 22px
    &-text
      font-size 15px
      color $c-darkgray
  &__content
    padding-top 40px
    padding-bottom 20px
    overflow auto
    $scrollbar()
  &__city
    font-size 15px
    color $c-darkgray
    margin-bottom 8px
  &__address
    $font-size($fz-xxl)
    margin-bottom 24px
  &__schedule
    margin-bottom 40px
  &__schedule-title
    font-size 15px
    line-height 22px
    font-weight 500
    cursor pointer
    display flex
    align-items center
    &:after
      content ''
      margin-left 15px
      margin-bottom 4px
      transform rotate(45deg)
      width 7px
      height 7px
      border-bottom 2px solid $c-gray
      border-right 2px solid $c-gray
    &_toggled
      &:after
        border-color $c-red
        margin-bottom -4px
        transform rotate(-135deg)
  &__schedule-dropdown
    padding 0px 70px 0px 24px
    background #F9F9FB
    max-height 0
    transition max-height 0.3s ease, padding 0.3s ease, margin-top .3s ease
    overflow hidden
    +below('xs')
      margin-left -15px
      margin-right -15px
      padding 0px 15px 0px 15px
    &_toggled
      margin-top 10px
      max-height 250px
      padding 24px 70px 24px 24px
      +below('xs')
        padding 24px 15px 24px 15px
  &__schedule-item
    display flex
    justify-content space-between
    line-height 22px
    margin-bottom 4px
    +below('xs')
      font-size 15px
    &:last-child
      margin-bottom 0
  &__phones
    display flex
    flex-wrap wrap
    margin-bottom 20px
    margin-right -20px
    +below('xs')
      margin-right 0
  &__phone
    margin-bottom 20px
    margin-right 20px
    &-title
      font-size 15px
      color $c-darkgray
      margin-bottom 8px
      &::first-letter
        text-transform uppercase
    &-number
      font-size 15px
  &__metro-wrapper
    margin-bottom 40px
  &__metro-title
    font-size 15px
    color $c-darkgray
    margin-bottom 8px
  &__metro
    display flex
    align-items center
    margin-bottom 5px
    &:last-child
      margin-bottom 0
  &__metro-color
    width 8px
    height 8px
    border-radius 8px
    margin-right 8px
  &__metro-name
    margin-right 5px
  &__metro-distance
    font-size 15px
    color $c-darkgray
    font-weight 500


