mixin card(data)
  +b.card
    +e.subtitle.text Популярная валютная пара
    +e.title.heading EUR/USD
    +e.icon
      include ../../static/img/svg/curr-pair-icon.svg
    +e.text.text Неважно в каком направлении идет рынок, чтобы на этом зарабатывать. Покупайте евро при его росте и продавайте, если он начинает дешеветь.
    +e.button
      +b.BUTTON.button._theme_white._has_no_icon._theme_on_red._is_bold
        +e.content
          +e.text Открыть счет
