mixin navbar(mode)
  -
    var links = [
      { title: 'Торговые условия', url: '/trading-conditions.html' },
      { title: 'Ввод и вывод средств', url: '/input-and-output.html' },
      { title: 'Интернет-трейдинг', url: '/internet-trading.html' },
      { title: 'MetaTrader', url: '/metatrader.html' },
      { title: 'Мобильный трейдинг', url: 'mobile-trading.html' },
      { title: 'Вопрос - Ответ', url: 'faq.html' }
    ]
  +b.NAV.navbar(class=`${mode ? `navbar_${mode}` : ''}`)&attributes(attributes)
    each link, index in links
      if index == 0
        +e.A.link._active(href=link.url)=link.title
      else
        +e.A.link(href=link.url)= link.title
