@import '../tabs/tabs'

.information
  margin-bottom 60px

  &__tab
    tabsItem()

  &__links
    display flex
    flex-wrap wrap
    margin-bottom 40px

  &__link
    cursor pointer
    font-size $fz-large
    line-height 1
    color $c-background_corporate
    border-bottom 1px solid #525A68
    opacity .4
    padding-bottom 6px
    display block

    margin-right 20px

    &:last-child
      margin-right 0

    &_is_active
      color $c-darkest
      text-decoration none
      opacity 1
      border-bottom none

    +below('xs')
      padding-bottom 0
      line-height 30px

.info-table
  text-align left

  table
    width 100%

    tr
      display block
      &:nth-child(2n)
        background-color #F9F9FA

    td
      line-height 20px
      color $c-darkgray
      padding 16px 0 16px 32px
      vertical-align top

    th
      font-weight 500
      line-height 16px
      color $c-darkest
      padding 25px 0 25px 32px
      position relative
      text-align left

      &:after
        content ''
        height 40px
        width 1px
        background $c-light-border
        opacity .7
        position absolute
        left 100%
        top calc(50% - 20px)

      &:last-child
        &:after
          content none


    td
    th
      font-size 14px

      span
        display block

      &:nth-child(1)
        width 405px
        min-width 405px
        padding-left 32px
        span
          width 300px
          min-width 300px
      &:nth-child(2)
        width 285px
        min-width 285px
        padding-left 38px
        span
          min-width 230px
          width 230px
      &:nth-child(3)
        width 210px
        min-width 210px
        padding-left 48px
      &:nth-child(4)
        width 220px
        min-width 220px
        padding-left 56px
        span
          width 120px
          min-width 120px

    thead
      background-color #fff
      tr
        box-shadow 0 8px 24px 0 rgba(0,0,0,0.08), 0 2px 4px 0 rgba(181,187,194,0.1)

    tbody
      tr
        border-bottom 1px solid #E8EAEC

        &:first-child
          td
            padding-top 20px

.info-buttons
  position fixed
  right 30px
  bottom 30px
  display flex

  &_hidden
    display none

.info-button
  width 45px
  height 45px
  display flex
  align-items center
  justify-content center
  box-shadow 0 2px 6px 0 rgba(0,0,0,0.08), 0 2px 2px 0 rgba(181,187,194,0.1)
  border-radius 4px
  cursor pointer
  background-color #fff
  z-index 2

  &_toggling
    pointer-events none

  &_hidden
    display none

  &__icon
    display inline-block
    svg
      display block
      width 19px
      height 16px
      fill $c-gray

    ~/_right &
      svg
        transform rotate(180deg)

  & + &
    margin-left 12px


+above('md')
  .info-buttons
    display none

+below('md')

  .info-table
    width 100%
    position relative

    table
      width 890px

      td
      th
        padding-left 24px !important
        padding-right 24px !important

        &:nth-child(n)
          span
            width auto
            min-width 100%

        &:nth-child(1)
          width 260px
          min-width 260px
          max-width 260px

        &:nth-child(2)
          width 250px
          min-width 250px
          max-width 250px

        &:nth-child(3)
          width 200px
          min-width 200px
          max-width 200px

        &:nth-child(4)
          width 180px
          min-width 180px
          max-width 180px

+below('sm')

  .info-table
    overflow auto
    overflow-y hidden

    table
      td
      th
        padding-left 24px !important
        padding-right 24px !important


+below('xs')
  .info-buttons
    right 20px
    bottom 20px

  .info-button
    & + &
      margin-left 8px

  .info-table

    table

      td
      th
        padding-left 24px !important
        padding-right 24px !important

        &:nth-child(n)
          span
            width auto
            min-width unset

        &:nth-child(1)
        &:nth-child(2)
          &:after
            content none

        &:nth-child(1)
        &:nth-child(2)
          width calc(100vw - 50px)
          min-width calc(100vw - 50px)

        &:nth-child(3)
          width calc(50vw - 25px)
          min-width calc(50vw - 25px)
        &:nth-child(4)
          width calc(50vw - 26px)
          min-width calc(50vw - 26px)
