mixin example-slider()
  +b.example-slider.swiper-container.container.wow.fadeInUp
    +e.slides.swiper-wrapper
      +e.item.swiper-slide
        +e.icon
          include ../../static/img/svg/Group5.svg
        +e.content
          +e.type Пример торговой сделки Форекс
          +e.name
            span Факт 1:
            span.text-example  Исторический максимум 86 ₽ за 1$
          +e.description Валютная пара $/₽ установила исторический максимум, достигнув значения 86 рублей за доллар 21 января 2016
      +e.item.swiper-slide
        +e.icon
          include ../../static/img/svg/Group5.svg
        +e.content
          +e.type Пример торговой сделки Форекс
          +e.name
            span Факт 2:
            span.text-example  Исторический максимум 86 ₽ за 1$
          +e.description Валютная пара $/₽ установила исторический максимум, достигнув значения 86 рублей за доллар 21 января 2016
      +e.item.swiper-slide
        +e.icon
          include ../../static/img/svg/Group5.svg
        +e.content
          +e.type Пример торговой сделки Форекс
          +e.name
            span Факт 3:
            span.text-example  Исторический максимум 86 ₽ за 1$
          +e.description Валютная пара $/₽ установила исторический максимум, достигнув значения 86 рублей за доллар 21 января 2016
      +e.item.swiper-slide
        +e.icon
          include ../../static/img/svg/Group5.svg
        +e.content
          +e.type Пример торговой сделки Форекс
          +e.name
            span Факт 4:
            span.text-example  Исторический максимум 86 ₽ за 1$
          +e.description Валютная пара $/₽ установила исторический максимум, достигнув значения 86 рублей за доллар 21 января 2016
    +e.controls-wrapper
        +e.bullets.container

