.currencies-dropdown
  -webkit-appearance button
  -webkit-border-radius 1px
  -webkit-padding-end 20px
  -webkit-padding-start 2px
  -webkit-user-select none
  background-color transparent
  background-image url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE2IDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8cGF0aCBkPSJNNy4yMDc5MiA4LjY3NjE5TC4zMjgzOSAxLjg4NzQxYy0uNDM3ODUtLjQzMTg1LS40Mzc4NS0xLjEzMjAyIDAtMS41NjM2NS40Mzc0NS0uNDMxNjggMS4xNDY5Ny0uNDMxNjggMS41ODQzOSAwbDYuMDg3MzMgNi4wMDcwMkwxNC4wODcyNC4zMjM5M2MuNDM3NjMtLjQzMTY3IDEuMTQ3MDgtLjQzMTY3IDEuNTg0NTMgMCAuNDM3NjQuNDMxNjcuNDM3NjQgMS4xMzE4MSAwIDEuNTYzNjZMOC43OTIxMyA4LjY3NjM3QzguNTczMyA4Ljg5MjIgOC4yODY4IDkgOC4wMDAxNSA5Yy0uMjg2NzkgMC0uNTczNS0uMTA4MDEtLjc5MjIzLS4zMjM4MXoiIGZpbGw9IiNFMzAwMDAiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==")
  background-position 97% center
  background-repeat no-repeat
  border none
  color #555
  font-size inherit
  overflow hidden
  padding 5px 30px 5px 0
  text-overflow ellipsis
  white-space nowrap
  +below('xs')
    padding-right 22px
    font-size 14px

  &:focus
    outline none

  &__item_disabled
    display none
