.button
  background-color $c-red
  position relative
  display flex
  align-items center
  justify-content center
  padding 18px 26px
  border-radius 4px
  $transition(background-color)
  &:hover
    background-color $c-darkred
  &:active
    background-color $c-red

  &_theme_gray
    padding 15px 20px
    background-color #fff
    box-shadow 0 2px 24px 0 rgba(0,0,0,0.08), 0 2px 4px 0 rgba(181,187,194,0.1)
    transition-property background-color, box-shadow
    &:hover
      box-shadow 0 2px 4px 0 rgba(181,187,194,0.24)
      background-color #fff
    &:active
      background-color #fff
      box-shadow 0 2px 4px 0 transparent

  &_theme_white
    background-color #fff
    box-shadow 0 2px 24px 0 rgba(0,0,0,0.08), 0 2px 4px 0 rgba(181,187,194,0.1)
    transition-property background-color, box-shadow
    &:hover
      box-shadow 0 2px 4px 0 rgba(181,187,194,0.24)
      background-color #fff
    &:active
      background-color #fff
      box-shadow 0 2px 4px 0 transparent

  &_theme_on_white
    &:active
      box-shadow inset 0 1px 4px 0 rgba(181,187,194,0.5), 0 2px 4px 0 rgba(181,187,194,0.24)
      background-color #fff

  &_theme_on_red
    box-shadow 0 4px 8px 0 rgba(108,0,0,0.5)
    &:hover
      box-shadow 0 4px 8px 0 rgba(108,0,0,0.32)
    &:active
      box-shadow 0 4px 8px 0 transparent

  &_white
    border-radius 4px
    border 1px solid #F3F4F5
    background transparent

  &_theme_transparent
    border-radius 4px
    border 1px solid $c-lightgray
    background transparent

  &_has_no_icon
    padding 20px 32px
  &_is_bold
    font-weight 500
  &_center
    margin-right auto
    margin-left auto

  &__content
    width 100%
    display flex
    justify-content center
    align-items center

  &__text
    color #fff
    font-size 14px
    line-height 1.25
    $transition(color)
    ^[0]_theme_white &
      color $c-red

    ^[0]_theme_white:hover &
      color $c-darkred

    ^[0]_theme_white:active &
        color $c-red

    ^[0]_white &
      color $c-red

    ^[0]_theme_gray &
      color $c-darkest
      font-size $fz-small

    ^[0]_theme_transparent &
      color $c-gray

    ^[0]_white:hover &
    ^[0]_theme_transparent:hover &
      color #fff

    ^[0]_white:active &
        color #fff

    & + ^[0]__icon
      margin-right 0
      margin-left 16px

  &__icon
    display flex
    margin-right 16px
    flex-shrink 0
    &_mode_apple
      padding-bottom 3px
    svg
      flex-shrink 0
      $transition(all)
      fill #fff
      ^[0]__icon_stroked &
        stroke #fff
      ^[0]_theme_white &
        fill $c-red
      ^[0]_theme_gray &
        fill none
        .fill
          fill rgba(111,134,162,0.9)
    ^[0]_theme_white &_stroked
      svg
        stroke $c-red
        g
          stroke $c-red
    ^[0]_theme_white:hover &
      svg
        fill $c-darkred
    ^[0]_theme_white:hover &_stroked
      svg
        stroke $c-darkred
    ^[0]_theme_white:active &_stroked
      svg
        stroke $c-red
    ^[0]_white &
      svg
        g
          stroke $c-red
    ^[0]_white:hover &
      svg
         fill $c-darkred
    ^[0]_theme_transparent:hover &
      svg path
         fill #fff
    ^[0]_white:hover &
      svg
        g
          stroke #fff
    ^[0]_white:active &
      svg
        g
          stroke #fff

