mixin news(data)
  +b.SECTION.section._size_large
    .container
      +b.heading._for_element.wow.fadeInUp Что нового?
        +b.A(href="#").link.news-link Все новости
      .news-wrapper.row.wow.fadeInUp
        - var news = ['Уважаемые клиенты! В связи с праздниками в США и Великобритании 29 мая 2017 года изменится расписание торгов', 'Мы рады сообщить, что теперь наши клиенты могут торговать инструментами USDPLN and EURPLN. Валютные пары доступны в торговых платформах МТ4 и МТ5 как на реальных, так и на демо-счетах. Минимальный спред – 15 пунктов по USDPLN и 19 пунктов по EURPLN. Если вы следите за котировками польского злотого, вы сможете воспользоваться услугами торговли этими валютными парами в Альфа-Форекс.', 'Уважаемые клиенты, По решению департамента по управлению рисками кредитное плечо для инструментов USDTRY и EURTRY будет уменьшено в два раза от текущих значений. Изменения вступят в силу после 17:00 МСК 25.05.2018.']
        each text in news
          +b.column._xs-6._sm-6._md-4.news-wrapper__item
            +b.A(href="#").news
              +e.DIV.wrapper
                +e.DIV.header
                  +e.DIV.icon
                    include ../../static/img/svg/news.svg
                  +e.tag Новости
                +e.title.text=text
              +e.DIV.footer
                +e.date 3 мая 2018
                +e.link
                  include ../../static/img/svg/arrow.svg
