mixin form(data)
  +b.FORM.form(action="#")&attributes(attributes)
    +e.heading.heading Есть вопрос?
    +e.text.text Укажите ваши контактные данные и мы вам перезвоним.
    +b.input-container.form__input-wrapper
      +e.control.form__input-control
        +e.INPUT.input.form__input(type="text" id="input-1" data-type="name" data-invalid-message="Введите корректное имя" data-required="true" name="name")
        +e.LABEL.placeholder(for="input-1") Ваше имя
        +e.required-mark(data-tooltip="" data-title="Обязательное поле")
    +b.input-container.form__input-wrapper
      +e.control.form__input-control
        +e.INPUT.input.form__input(type="tel" id="input-2" data-mask="phone" data-type="phone" data-invalid-message="Введите корректный номер" data-required="true" name="phone")
        +e.LABEL.placeholder(for="input-2") Номер телефона
        +e.required-mark(data-tooltip="" data-title="Обязательное поле")
    +b.input-container.form__input-wrapper
      +e.control.form__input-control
        +e.INPUT.input.form__input(type="text" id="input-3" data-type="email" data-invalid-message="Введите корректный e-mail" name="email")
        +e.LABEL.placeholder(for="input-3") Ваш e-mail
    +e.hint
      | Нажимая кнопку «Отправить», вы соглашаетесь с условиями обработки&nbsp;
      +e.A(href="#").link персональных данных
      |.
    +e.BUTTON.button.button._theme_white._theme_on_red._is_bold
      .button__content
        .button__icon
          include ../../static/img/svg/mark.svg
        .button__text Отправить
    +b.progressbar.form__progressbar
      +e.line._inner
      +e.line._outer
