.splitted-banners-section
  padding-bottom 100px
  +below(md)
    padding-bottom 70px
  +below(sm)
    padding-bottom 40px

  .splitted-banners
    padding-top 0

.splitted-banners
  margin 0
  padding-top 100px
  +below(md)
    padding-top 70px
  +below(sm)
    padding-top 40px

  & > *
    padding 0

  & > *:first-child
    margin-right auto

  & > *:last-child img
    margin-left auto

  &__banner_big
    margin-left auto

  +below('sm')
    & > a:not(:only-child)
      &:first-child
        margin-bottom 40px
  &__banner
    padding 0
    height 100%

    &_big
      width 1120px

    +below('md')
      width 100%

    &_small
      width 544px
      +below('md')
        width 400px

    +below('sm')
      width 100%
