.switch
    position relative
    height 30px
    width 180px
    min-width 180px
    border-radius 18px
    background-color #e8e8e8
    user-select none
    +below('xs')
        width 160px
        min-width 160px
    +below(340px)
        width 140px
        min-width 140px

    &__label
        position relative
        z-index 2
        float left
        width 90px
        line-height 26px
        font-size 12px
        color #a8a8a8
        text-align center
        cursor pointer
        height 100%
        display flex
        justify-content center
        align-items center
        +below('xs')
            width 80px
        +below(340px)
            width 70px

        &_off
            padding-left 2px

        &_on
            padding-right 2px

    &__input
        display none
        &:checked
            & + .switch__label
                color white
                transition 0.15s ease-out
                transition-property color, text-shadow
            & + .switch__label_on
                & ~ .switch__selection
                    left 90px
                    +below('xs')
                        left 80px
                    +below(340px)
                        left 70px

    &__selection
        position absolute
        z-index 1
        top 0px
        left 0px
        display block
        width 90px
        height 30px
        border-radius 18px
        background-color #E30000
        box-shadow 0 4px 8px 0 rgba(108,0,0,0.32)
        transition left 0.15s ease-out
        +below('xs')
            width 80px
        +below(340px)
            width 70px
