mixin linksbar(mode)
  +b.NAV.linksbar(class=`${mode ? `linksbar_${mode}` : ''}`)
    +e.col
      +e.A.link.link(href='/about.html') О компании
      +e.A.link.link(href='#') Контакты
    +e.col
      +e.A.link.link(href='./documents.html') Документы
      +e.A.link.link(href='./requisites.html') Реквизиты
      +e.A.link.link(href='./information.html') Раскрытие информации
      +e.A.link.link(href='#') Соответствие требованиям

