mixin form(data)
  +b.FORM.form(action="#")&attributes(attributes)
    +e.heading.heading Есть вопрос?
    +e.text.text Отправьте нам свой вопрос и мы с радостью ответим вам
    +b.input-container.form__input-wrapper
      +e.control.form__input-control
        +e.INPUT.input.form__input(type="text" id="input-1" data-type="email" data-invalid-message="Введите корректный e-mail" data-required="true"  name="email")
        +e.LABEL.placeholder(for="input-3") Ваш e-mail
        +e.required-mark(data-tooltip="" data-title="Обязательное поле")
      //- +e.errors
      //-   +e.error Выведенная ошибка
    +b.input-container.form__input-wrapper
      +e.control.form__input-control
        +e.INPUT.input.form__input(type="text" id="input-2" data-type="question" name="question")
        +e.LABEL.placeholder(for="input-1") Ваш вопрос
      //- +e.errors
      //-   +e.error Выведенная ошибка
    +e.hint
      | Нажимая кнопку «Отправить», вы соглашаетесь с условиями обработки
      =" "
      +e.A(href="#").link персональных данных
      |.
    +e.BUTTON.button.button._theme_white._theme_on_red._is_bold
      .button__content
        .button__icon
          include ../../../static/img/svg/mark.svg
        .button__text Отправить
    +b.progressbar.form__progressbar
      +e.line._inner
      +e.line._outer
