.floating-wrapper
  position relative

.metatrader
  align-items flex-start
  +below('sm')
    margin-top 50px
    order 1

.mobile-trading
  +below('sm')
    order 1

.floating
  position absolute

  &.laptop
    position absolute
    bottom -25px
    overflow hidden
    display flex
    justify-content flex-end
    align-items flex-start
    left calc(50% - 60px)
    +below('md')
      right 0
      left 0
      width 100%
      align-items flex-end
    +below('sm')
      position static
      margin-bottom -65px
      img
        margin-left auto
        max-width 100%
    +below('xs')
      padding-top 30px

  /.tablet
    margin-left -52px
    +at('md')
      max-width 110%
    +below('xs')
      max-width 100%
      margin-left -30px

  &.phone
    bottom -28px
    right 95px
    +below('md')
      bottom -10px
      right 15px
      max-height 80%

  &.android
    top -25px
    margin-left 165px
    position absolute
    +below('sm')
      margin-left auto
      position static
    +below('xs')
      margin-top 30px
      max-width 60%
  &.iphone-2
    bottom -45px
    +below('xs')
      bottom -25px
      max-width 60%
