@import '../tabs/tabs'

.main-content
  display flex
  flex-direction column
  // max-width 520px
  &__title
    $font-size($fz-biggest)
    font-weight 300
    color #fff
    margin-bottom 18px
    +below('sm')
      $font-size($fz-double)
      margin-bottom 16px
  &__text
    line-height 24px
    color #fff
    font-weight 300
    &+^[0]__button
      margin-top 28px

.main-slider
  &__controls-wrapper
    position absolute
    bottom 30px
    z-index 1
    left 0
    right 0
  &__controls
    display none
    align-items center
    justify-content flex-end
    margin-right -15px
    position absolute
    right 15px
    bottom 0
    +below('xs')
      display none
  &__control
    margin-right 15px
    padding-right 2px
    border 1px solid #fff
    border-radius 100%
    width 40px
    height 40px
    display flex
    align-items center
    justify-content center
    $transition(all)
    svg
      fill #fff
    &:hover
      background-color #fff
      svg
        fill $c-red
    &_next
      transform rotate(180deg)
    &-icon
      flex-grow 1
      display flex
      justify-content center
      align-items center
  &__slide-img
    height 460px
    max-height 460px
    display flex
    align-items center
    justify-content center
    overflow hidden
  &__img
    width 100%
    height 100%
    &_on_desktop
      +below('sm')
        display none
    &_on_tablet
      +above('md')
        display none
      +below('xs')
        display none
    &_on_mobile
        +above('sm')
            display none
  &__slide-content-wrapper
    position absolute
    z-index 1
    left 0
    right 0
    bottom 50px
    +above('xs')
      height 68%
  &__content
    height 100%
    max-width 510px
    +at('sm')
      max-width 50%
    +below('xs')
      max-width 420px
  &__bullets
    display flex
    align-items center
    position absolute
    bottom 10px
    left 15px
    z-index 1
  &__bullet
    width 30px
    height 30px
    margin-right 8px
    opacity 0.2
    display block
    cursor pointer
    $transition(opacity)
    position relative
    &:after
      content ''
      width 100%
      position absolute
      top calc(50% - 1px)
      border-bottom 2px solid #fff
    &:not(&_is_active)
      &:hover
        opacity 0.5
    &:last-child
      margin-right 0
    &_is_active
      opacity 1
  &__tab
    tabsItem()
