mixin main(data)
  section.main
    +b.main-slider.swiper-container
      +e.slides.swiper-wrapper
        +e.slide.swiper-slide
          +e.slide-img
            +e.IMG.img._on_desktop(src="%=static=%img/assets/main/slide_1.jpg", alt="slide")
            +e.IMG.img._on_tablet(src="%=static=%img/assets/main/slide_1.jpg", alt="slide")
            +e.IMG.img._on_mobile(src="%=static=%img/assets/main/slide_1.jpg", alt="slide")
          +e.slide-content-wrapper.container
            +e.content
              +b.main-content
                +e.title(data-swiper-parallax-opacity="0.2" data-swiper-parallax="-150") Интернет-трейдинг на рынке Форекс
                +e.text(data-swiper-parallax-opacity="0.2" data-swiper-parallax="-300") Альфафорекс является лицензированным форекс-дилером при поддержке ЦБ РФ
                +e.button(data-swiper-parallax-opacity="0.2" data-swiper-parallax="-450")
                  +b.BUTTON.button._theme_white._has_no_icon._is_bold
                    +e.content
                      +e.text Открыть счет
        +e.slide.swiper-slide
          +e.slide-img
            +e.IMG.img._on_desktop(src="%=static=%img/assets/main/slide_2.jpg", alt="slide")
            +e.IMG.img._on_tablet(src="%=static=%img/assets/main/slide_2_tablet.jpg", alt="slide")
            +e.IMG.img._on_mobile(src="%=static=%img/assets/main/slide_2_mobile.jpg", alt="slide")
          +e.slide-content-wrapper.container
            +e.content
              +b.main-content
                +e.title(data-swiper-parallax-opacity="0.2" data-swiper-parallax="-150") Надежный трейдинг одобренный ЦБ РФ
                +e.text(data-swiper-parallax-opacity="0.2" data-swiper-parallax="-300") Альфафорекс является лицензированным форекс-дилером при поддержке ЦБ РФ
                +e.button(data-swiper-parallax-opacity="0.2" data-swiper-parallax="-450")
                  +b.BUTTON.button._theme_white._has_no_icon._is_bold
                    +e.content
                      +e.text Открыть счет
        +e.slide.swiper-slide
          +e.slide-img
            +e.IMG.img._on_desktop(src="%=static=%img/assets/main/slide_3.jpg", alt="slide")
            +e.IMG.img._on_tablet(src="%=static=%img/assets/main/slide_3.jpg", alt="slide")
            +e.IMG.img._on_mobile(src="%=static=%img/assets/main/slide_3.jpg", alt="slide")
          +e.slide-content-wrapper.container
            +e.content
              +b.main-content
                +e.title(data-swiper-parallax-opacity="0.2" data-swiper-parallax="-150") Интернет-трейдинг на рынке Форекс
                +e.text(data-swiper-parallax-opacity="0.2" data-swiper-parallax="-300") Альфафорекс является лицензированным форекс-дилером при поддержке ЦБ РФ
                +e.button(data-swiper-parallax-opacity="0.2" data-swiper-parallax="-450")
                  +b.BUTTON.button._theme_white._has_no_icon._is_bold
                    +e.content
                      +e.text Открыть счет

      +e.controls-wrapper.container
        +e.bullets
          +e.bullet._is_active
          +e.bullet
          +e.bullet
        +e.controls
          +e.BUTTON.control._prev
            +e.control-icon
              include ../../static/img/svg/caret.svg
          +e.BUTTON.control._next
            +e.control-icon
              include ../../static/img/svg/caret.svg
