.faq-search
  margin-bottom 48px

.faq-list
  min-height 500px
.faq-block
  padding-bottom 32px
  border-bottom 1px solid $c-light-border
  b
    color $c-red
  /.search-list &:last-child
    border-bottom none
    margin-bottom 80px
    +below('sm')
      margin-bottom 40px

  &:not(:last-child)
    margin-bottom 32px

  &:not(&_open)&

    &_cursor-pointer
      cursor pointer

    &:hover
      .faq-toggle
        color $c-red

        svg path
          fill $c-red


  &_open
    .faq-toggle
      &__icon
        transform rotate(180deg)

.faq-head
  padding-bottom 24px

  &:only-child
    padding-bottom 0

  &__category
    margin-bottom 12px

  &__title
    color #273142
    font-size 18px
    line-height 24px

  &__text
    color $c-darkgray
    font-size 14px
    line-height 22px
    overflow hidden

    p
      margin-top 0
      &:last-child
        margin-bottom 0



.faq-body
  color $c-darkgray
  font-size 14px
  line-height 22px
  height 0
  min-height 66px
  overflow hidden

  img
    max-width 100%

  p
    font-size 14px
    line-height 22px

  img
  p
    margin-bottom 24px
    margin-top 0
    &:last-child
      margin-bottom 0

  p.title
    margin-bottom 16px
    font-size 16px
    line-height 24px
    color $c-background_corporate

  a
    color inherit
    text-decoration underline
    transition .3s ease

    &:hover
      text-decoration none
      color $c-background_corporate

.faq-toggle
  display flex
  align-items center
  color $c-lightgray
  transition .3s ease
  cursor pointer
  margin-top 20px

  &__text
    font-size 14px
    font-weight 500
    line-height 18px
    margin-right 12px

  &__icon
    display inline-block
    transition .3s ease

    svg
      display block

      path
        fill $c-lightgray
        transition .3s ease

  &:hover
    color $c-red

    svg path
      fill $c-red


.faq-categories
  display flex
  flex-direction column
  padding 40px 40px 47px 40px
  border 1px solid $c-light-border
  margin-bottom 32px
  position relative

  &_mobile
    display none

  &__arrow
    display block
    position absolute
    top 23px
    right 34px
    transform-origin 50%
    transition .3s ease

    svg
      width 12px
      height 7px

    ~/_open &
      transform rotate(180deg)

  &__title
    color $c-darkest
    margin-bottom 32px
    font-size 32px
    font-weight 300
    line-height 44px

  &__header
    height 64px
    display flex
    align-items center

    .category-link
      padding-bottom 0
      pointer-events none

      &__text
        color $c-background_corporate
        border-bottom none
        padding-bottom 0
      g
        stroke $c-background_corporate

  &__body
    overflow hidden

.faq-form
  margin-bottom 32px

.category-link
  display flex

  &:not(:last-child)
    margin-bottom 22px

  &_active
    // align-items center
    // padding-bottom 6px

  &__icon
    display inline-block
    width 20px
    height 20px
    margin-right 21px

    svg
      display block
      // transition .5s

      g
        transition .3s ease
          // stroke #6D7986
        // opacity 0.8
      g#AF-list
        g
          stroke none

    // ~/_active &

    //   g
    //     stroke $c-background_corporate
    //   g#AF-list
    //     fill #212a33
    //     g
    //       stroke none

    // ~/:hover &
    //   g
    //     // opacity 1
    //     stroke $c-background_corporate
    //   g#AF-list
    //     fill #212a33
    //     g
    //       stroke none

  &__text
    color #A0A8B0
    font-size 16px
    line-height 16px
    transition .3s ease
    padding-bottom 6px
    // border-bottom 1px solid rgba(82,90,104, 0.16)
    border-bottom 1px solid #E1E2E5

    ~/_active &
      color $c-background_corporate
      border-color transparent !important
      // padding-bottom 0

    ~/:hover &
      color $c-background_corporate
      border-color $c-background_corporate


.category
  display flex
  align-items center

  &__icon
    display inline-block
    margin-right 8px
    width 20px
    height 20px

    svg
      display block
      fill $c-gray

  &__text
    color $c-gray
    font-size 13px
    font-weight 500
    letter-spacing 0.4px
    line-height 16px



+below('sm')

  .faq-search
    margin-bottom 24px

  .faq-categories
    padding 0
    display none

    &_mobile
      display flex

    &__header
    &__body
      padding-left 24px

    &__body
      ~/_mobile &
        height 0
      .category-link
        &:last-child
          margin-bottom 22px

  .faq-block
    &:last-child
      border-bottom none
      padding-bottom 0


  .category-link
    &__text
      font-size 16px

+above(480px)
  .faq-categories
    &_mobile
      max-width 430px
      margin-left auto
      margin-right auto
