mixin pagination(data)
  +b.pagination
    +e.control._prev
      +e.control-icon
        include ../../static/img/svg/caret.svg
    +e.links
      +e.A.link._is_active(href="#") 1
      - var n = 2;
      while n < 7
        +e.A.link(href="#")=n++
      +e.dots ...
      +e.A.link(href="#") 12
    +e.control._next
      +e.control-icon
        include ../../static/img/svg/caret.svg
