.pagination
  display flex
  align-items center
  &__links
    display flex
    margin 0 20px
    +below('xs')
      margin 0 15px
  &__link
    color $c-lightgray
    cursor pointer
    &:not(:last-child)
      margin-right 16px
      +below('xs')
        margin-right 10px
    &_is_active
      font-weight 500
      color $c-gray
  &__dots
    color $c-lightgray
    margin-right 16px
  &__control
    display flex
    align-items center
    justify-content center
    width 40px
    height 40px
    padding-right 2px
    border 1px solid $c-lightgray
    border-radius 100%
    $transition(all)
    cursor pointer
    +below('xs')
      width 35px
      height 35px
    svg
      fill $c-lightgray
    &:hover
      background-color $c-red
      border-color $c-red
      svg
        fill #fff
    &_next
      transform rotate(180deg)
    &-icon
      flex-grow 1
      display flex
      justify-content center
      align-items center
