include ../navbar/navbar
include ../links-bar/links-bar

mixin collapsed()
  +b.header-collapsed
    .container
      .row
        +b.header-collapsed-searchbar.visible-only-sm
          +e.icon
            include ../../../../static/img/svg/search-icon.svg
          form(action="/search/")
            +e.INPUT.input.input.searchbar(type="search" placeholder="Что будем искать?")
        +b.column._md-4._lg-3
          +navbar('vertical')
        +b.column._md-0._lg-1
        +b.column._lg-3._md-4
          +linksbar('vertical')
        +b.column._md-0._lg-1
        +b.header-collapsed-content.column._md-4._sm-6
          +e.item
            +b.header-content._in_collapsed
              +e.title
                +e.SPAN.icon
                  include ../../../../static/img/svg/pin.svg
                | Москва
              +e.text Ул. Большой Балканский переулок, д.&nbsp;20, стр.&nbsp;1, 5&nbsp;этаж, с&nbsp;8:00 до&nbsp;19:00
          +e.item
            +b.header-content._in_collapsed
              +e.A.title(href='#').link
                +e.icon
                  include ../../../../static/img/svg/ic-mobile.svg
                | Консультация с 9:00 до 18:00
              +e.text 8 800 800 900
          +e.button
            +b.BUTTON.button._theme_white._is_bold
              +e.content
                +e.icon._stroked
                  include ../../../../static/img/svg/enter.svg
                +e.text Личный кабинет


