.header-collapsed-content
  padding 40px 60px 40px 40px
  background-color $c-background_default
  &__item
    margin-bottom 40px
  &__button
    margin-top 10px

.header-collapsed
  form
    width 100%
  .navbar__link
    border-bottom none
    +above('md')
      padding-top 0
      padding-bottom 0

.header-collapsed-searchbar
  display flex
  align-items center
  padding 0 15px
  padding 0 15px
  margin-bottom 40px
  width 100%
  &__icon
    margin-right 22px
    svg
      fill $c-lightgray
      $transition(fill)
    &:hover
      svg
        fill $c-red
    &.active svg
      fill $c-red
