include ../swith/swith
include ../currencies/currenciesTabs
include ../currencies/currenciesDropdown

mixin trading-table(data)
  +b.trading-conditions
    +e.links
      +e.A.link._is_active(href="#" data-target="1") Cпецификации контрактов
      +e.A.link(href="#" data-target="2") Маржинальные требования
    +e.calc#tradingTableCalc
      +currenciesTabs("tradingTableCurrenciesTabs", [["POINT", "POINT"], ["RUR", "RUB"], ["USD", "USD"], ["EUR", "EUR"]])
      +currenciesDropdown("tradingTableCurrenciesDropdown", [["POINT", "POINT"], ["RUR", "RUB"], ["USD", "USD"], ["EUR", "EUR"]])
      +b.amount
        +e.label Объем
        +b.INPUT.amount-input(id="tradingTableAmount", type="number", value="1")
        +swith("tradingTableSwith", "В лотах", "В валюте")
    +e.tabs
      +e.tab._is_active._is_show(data-tab="1")
        include ./partials/specifications
      +e.tab(data-tab="2")
        include ./partials/marginal
