include ../banners/splitted

+b.input-output
  +e.links
    +e.A.link._is_active(href="#" data-target="1") Пополнение счета
    +e.A.link(href="#" data-target="2") Снятие средств
  +e.tabs
    +e.tab._is_active._is_show(data-tab="1")
      +b.accordion-pane
        +e.header._block
          .row.input-output-wrapper
            +b.column._md-3._sm-4._xs-6
              +b.icon
                include ../../static/img/svg/alfabank.svg
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 0%
                +e.text Комиссия
            +b.column._sm-2._xs-6
              +b.small-content
                +e.title RUR
                +e.text Валюта
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 1-2 рабочих дня
                +e.text Срок
          +e.icon
            include ../../static/img/svg/chevron-red.svg
        +e.body
          +b.input-output-container.row
            +e.content.column._lg-5._md-6
              +e.subtitle Быстро и удобно пополняйте свой лицевой счет Альфа-Форекс
              +e.title Как пополнить счет
              +ordered-list(['Откройте счет в ООО «Альфа-Форекс»', 'Войдите в Альфа-Клик в раздел переводы и выберите вкладку ООО «Альфа-Форекс».','Заполните необходимые поля. Внимательно заполните Назначение платежа. В случае несоответствия средства будут возвращены на счет отправителя'])
            +b.column._lg-1.visible-only-lg
            +b.column._md-6
              +b.card
                +e.title.heading._size_xsmall При переводе средств просим учитывать, что:
                +b.terms._theme_light
                  +e.item Переводы осуществляются только в рублях
                  +e.item Переводы от 3-х лиц не принимаются
                  +e.item Возврат денежных средств производится только на банковские реквизиты отправителя платежа до 7-ми рабочих дней
                  +e.item Максимальная сумма разового перевода составляет не более 600 000 рублей. В день таких переводов может быть совершено неограниченное количество.

      +b.accordion-pane
        +e.header._block
          .row.input-output-wrapper
            +b.column._md-3._sm-4._xs-6
              +b.icon
                include ../../static/img/svg/alfa-click.svg
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 0%
                +e.text Комиссия
            +b.column._sm-2._xs-6
              +b.small-content
                +e.title RUR
                +e.text Валюта
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 1-2 рабочих дня
                +e.text Срок
          +e.icon
            include ../../static/img/svg/chevron-red.svg
        +e.body
          +b.input-output-container.row
            +e.content.column._lg-5._md-6
              +e.subtitle Быстро и удобно пополняйте свой лицевой счет Альфа-Форекс
              +e.title Как пополнить счет
              +ordered-list(['Откройте счет в ООО «Альфа-Форекс»', 'Войдите в Альфа-Клик в раздел переводы и выберите вкладку ООО «Альфа-Форекс».','Заполните необходимые поля. Внимательно заполните Назначение платежа. В случае несоответствия средства будут возвращены на счет отправителя'])
            +b.column._lg-1.visible-only-lg
            +b.column._md-6
              +b.card
                +e.title.heading._size_xsmall При переводе средств просим учитывать, что:
                +b.terms._theme_light
                  +e.item Переводы осуществляются только в рублях
                  +e.item Переводы от 3-х лиц не принимаются
                  +e.item Возврат денежных средств производится только на банковские реквизиты отправителя платежа до 7-ми рабочих дней
                  +e.item Максимальная сумма разового перевода составляет не более 600 000 рублей. В день таких переводов может быть совершено неограниченное количество.

      +b.accordion-pane
        +e.header._block
          .row.input-output-wrapper
            +b.column._md-3._sm-4._xs-6
              +b.icon
                include ../../static/img/svg/alfa-click-2.svg
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 0%
                +e.text Комиссия
            +b.column._sm-2._xs-6
              +b.small-content
                +e.title RUR
                +e.text Валюта
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 1-2 рабочих дня
                +e.text Срок
          +e.icon
            include ../../static/img/svg/chevron-red.svg
        +e.body
          +b.input-output-container.row
            +e.content.column._lg-5._md-6
              +e.subtitle Быстро и удобно пополняйте свой лицевой счет Альфа-Форекс
              +e.title Как пополнить счет
              +ordered-list(['Откройте счет в ООО «Альфа-Форекс»', 'Войдите в Альфа-Клик в раздел переводы и выберите вкладку ООО «Альфа-Форекс».','Заполните необходимые поля. Внимательно заполните Назначение платежа. В случае несоответствия средства будут возвращены на счет отправителя'])
            +b.column._lg-1.visible-only-lg
            +b.column._md-6
              +b.card
                +e.title.heading._size_xsmall При переводе средств просим учитывать, что:
                +b.terms._theme_light
                  +e.item Переводы осуществляются только в рублях
                  +e.item Переводы от 3-х лиц не принимаются
                  +e.item Возврат денежных средств производится только на банковские реквизиты отправителя платежа до 7-ми рабочих дней
                  +e.item Максимальная сумма разового перевода составляет не более 600 000 рублей. В день таких переводов может быть совершено неограниченное количество.

      +b.accordion-pane
        +e.header._block
          .row.input-output-wrapper
            +b.column._md-3._sm-4._xs-6
              +b.icon
                include ../../static/img/svg/alfabank.svg
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 0%
                +e.text Комиссия
            +b.column._sm-2._xs-6
              +b.small-content
                +e.title RUR
                +e.text Валюта
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 1-2 рабочих дня
                +e.text Срок
          +e.icon
            include ../../static/img/svg/chevron-red.svg
        +e.body
          +b.input-output-container.row
            +e.content.column._lg-5._md-6
              +e.subtitle Быстро и удобно пополняйте свой лицевой счет Альфа-Форекс
              +e.title Как пополнить счет
              +ordered-list(['Откройте счет в ООО «Альфа-Форекс»', 'Войдите в Альфа-Клик в раздел переводы и выберите вкладку ООО «Альфа-Форекс».','Заполните необходимые поля. Внимательно заполните Назначение платежа. В случае несоответствия средства будут возвращены на счет отправителя'])
            +b.column._lg-1.visible-only-lg
            +b.column._md-6
              +b.card
                +e.title.heading._size_xsmall При переводе средств просим учитывать, что:
                +b.terms._theme_light
                  +e.item Переводы осуществляются только в рублях
                  +e.item Переводы от 3-х лиц не принимаются
                  +e.item Возврат денежных средств производится только на банковские реквизиты отправителя платежа до 7-ми рабочих дней
                  +e.item Максимальная сумма разового перевода составляет не более 600 000 рублей. В день таких переводов может быть совершено неограниченное количество.

      +b.BUTTON.button._center
        +e.content
          +e.icon
            include ../../static/img/svg/money.svg
          +e.text Открыть счет

    +banner-big("%=static=%img/content/metatrader.jpg", "#input-and-output")
    +banner-splitted("%=static=%img/content/content_1.jpg", "#input-and-output-1", "%=static=%img/content/content_1.jpg", "#input-and-output-2")

    +e.tab(data-tab="2")
      +b.accordion-pane
        +e.header._block
          .row.input-output-wrapper
            +b.column._md-3._sm-4._xs-6
              +b.icon
                include ../../static/img/svg/alfabank.svg
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 0%
                +e.text Комиссия
            +b.column._sm-2._xs-6
              +b.small-content
                +e.title RUR
                +e.text Валюта
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 1-2 рабочих дня
                +e.text Срок
          +e.icon
            include ../../static/img/svg/chevron-red.svg
        +e.body
          +b.input-output-container.row
            +e.content.column._lg-5._md-6
              +e.subtitle Быстро и удобно пополняйте свой лицевой счет Альфа-Форекс
              +e.title Как пополнить счет
              +ordered-list(['Откройте счет в ООО «Альфа-Форекс»', 'Войдите в Альфа-Клик в раздел переводы и выберите вкладку ООО «Альфа-Форекс».','Заполните необходимые поля. Внимательно заполните Назначение платежа. В случае несоответствия средства будут возвращены на счет отправителя'])
            +b.column._lg-1.visible-only-lg
            +b.column._md-6
              +b.card
                +e.title.heading._size_xsmall При переводе средств просим учитывать, что:
                +b.terms._theme_light
                  +e.item Переводы осуществляются только в рублях
                  +e.item Переводы от 3-х лиц не принимаются
                  +e.item Возврат денежных средств производится только на банковские реквизиты отправителя платежа до 7-ми рабочих дней
                  +e.item Максимальная сумма разового перевода составляет не более 600 000 рублей. В день таких переводов может быть совершено неограниченное количество.

      +b.accordion-pane
        +e.header._block
          .row.input-output-wrapper
            +b.column._md-3._sm-4._xs-6
              +b.icon
                include ../../static/img/svg/alfa-click.svg
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 0%
                +e.text Комиссия
            +b.column._sm-2._xs-6
              +b.small-content
                +e.title RUR
                +e.text Валюта
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 1-2 рабочих дня
                +e.text Срок
          +e.icon
            include ../../static/img/svg/chevron-red.svg
        +e.body
          +b.input-output-container.row
            +e.content.column._lg-5._md-6
              +e.subtitle Быстро и удобно пополняйте свой лицевой счет Альфа-Форекс
              +e.title Как пополнить счет
              +ordered-list(['Откройте счет в ООО «Альфа-Форекс»', 'Войдите в Альфа-Клик в раздел переводы и выберите вкладку ООО «Альфа-Форекс».','Заполните необходимые поля. Внимательно заполните Назначение платежа. В случае несоответствия средства будут возвращены на счет отправителя'])
            +b.column._lg-1.visible-only-lg
            +b.column._md-6
              +b.card
                +e.title.heading._size_xsmall При переводе средств просим учитывать, что:
                +b.terms._theme_light
                  +e.item Переводы осуществляются только в рублях
                  +e.item Переводы от 3-х лиц не принимаются
                  +e.item Возврат денежных средств производится только на банковские реквизиты отправителя платежа до 7-ми рабочих дней
                  +e.item Максимальная сумма разового перевода составляет не более 600 000 рублей. В день таких переводов может быть совершено неограниченное количество.

      +b.accordion-pane
        +e.header._block
          .row.input-output-wrapper
            +b.column._md-3._sm-4._xs-6
              +b.icon
                include ../../static/img/svg/alfa-click-2.svg
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 0%
                +e.text Комиссия
            +b.column._sm-2._xs-6
              +b.small-content
                +e.title RUR
                +e.text Валюта
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 1-2 рабочих дня
                +e.text Срок
          +e.icon
            include ../../static/img/svg/chevron-red.svg
        +e.body
          +b.input-output-container.row
            +e.content.column._lg-5._md-6
              +e.subtitle Быстро и удобно пополняйте свой лицевой счет Альфа-Форекс
              +e.title Как пополнить счет
              +ordered-list(['Откройте счет в ООО «Альфа-Форекс»', 'Войдите в Альфа-Клик в раздел переводы и выберите вкладку ООО «Альфа-Форекс».','Заполните необходимые поля. Внимательно заполните Назначение платежа. В случае несоответствия средства будут возвращены на счет отправителя'])
            +b.column._lg-1.visible-only-lg
            +b.column._md-6
              +b.card
                +e.title.heading._size_xsmall При переводе средств просим учитывать, что:
                +b.terms._theme_light
                  +e.item Переводы осуществляются только в рублях
                  +e.item Переводы от 3-х лиц не принимаются
                  +e.item Возврат денежных средств производится только на банковские реквизиты отправителя платежа до 7-ми рабочих дней
                  +e.item Максимальная сумма разового перевода составляет не более 600 000 рублей. В день таких переводов может быть совершено неограниченное количество.

      +b.accordion-pane
        +e.header._block
          .row.input-output-wrapper
            +b.column._md-3._sm-4._xs-6
              +b.icon
                include ../../static/img/svg/alfabank.svg
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 0%
                +e.text Комиссия
            +b.column._sm-2._xs-6
              +b.small-content
                +e.title RUR
                +e.text Валюта
            +b.column._sm-3._xs-6
              +b.small-content
                +e.title 1-2 рабочих дня
                +e.text Срок
          +e.icon
            include ../../static/img/svg/chevron-red.svg
        +e.body
          +b.input-output-container.row
            +e.content.column._lg-5._md-6
              +e.subtitle Быстро и удобно пополняйте свой лицевой счет Альфа-Форекс
              +e.title Как пополнить счет
              +ordered-list(['Откройте счет в ООО «Альфа-Форекс»', 'Войдите в Альфа-Клик в раздел переводы и выберите вкладку ООО «Альфа-Форекс».','Заполните необходимые поля. Внимательно заполните Назначение платежа. В случае несоответствия средства будут возвращены на счет отправителя'])
            +b.column._lg-1.visible-only-lg
            +b.column._md-6
              +b.card
                +e.title.heading._size_xsmall При переводе средств просим учитывать, что:
                +b.terms._theme_light
                  +e.item Переводы осуществляются только в рублях
                  +e.item Переводы от 3-х лиц не принимаются
                  +e.item Возврат денежных средств производится только на банковские реквизиты отправителя платежа до 7-ми рабочих дней
                  +e.item Максимальная сумма разового перевода составляет не более 600 000 рублей. В день таких переводов может быть совершено неограниченное количество.

      +b.BUTTON.button._center
        +e.content
          +e.icon
            include ../../static/img/svg/money.svg
          +e.text Открыть счет
