// .text-block
//   font-size 16px
//   line-height 1.5

//   h1
//   .h1
//     margin 30px 0
//     +above('md')
//       font-size 74px
//       line-height 80px

//   h2
//   .h2
//     font-size 40px
//     line-height 42px
//     margin 25px 0

//   h3
//   .h3
//     font-size 24px
//     line-height 26px
//     margin 25px 0

//   h4
//   .h4
//     font-size 18px
//     line-height 24px
//     margin 25px 0

//   h5
//   .h5
//     font-size 16px
//     line-height 24px
//     margin 25px 0

//   p
//     margin 25px 0

//   blockquote
//     display block
//     border-top 1px solid #D7D7E2
//     border-bottom 1px solid #D7D7E2
//     padding 40px 0
//     text-align center
//     margin 30px 0

//     p
//       font-size 18px
//       line-height 24px
//       font-weight bold
//       margin-bottom 24px

//     footer
//       opacity 0.5

//   ul
//     padding-left 0
//     margin 25px 0

//     li
//       position relative
//       padding-left 16px
//       list-style inside none
//       margin-bottom 10px

//       &:before
//         content ''
//         width 4px
//         height 4px
//         // background-color $color_blue
//         border-radius 4px
//         position absolute
//         left 0
//         top 10px

//   ol
//     padding-left 0
//     margin 25px 0
//     counter-reset list

//     li
//       position relative
//       list-style inside none
//       margin-bottom 10px

//       &:before
//         counter-increment list
//         content counter(list) ". "
//         color $color_blue
//         min-width 12px
//         margin-right 4px
//         display inline-block
